<div class="map"
     data-lon="8.403869"
     data-lat="49.011627"
     data-zoom="12">
  <% Project.all.each do |project| %>
      <% if ((project.longitude != 0) && (not project.closed?)) %>
          <div data-lon="<%= project.longitude %>"
               data-lat="<%= project.latitude %>"
               data-name="<%= project.title %>"
               data-href="<%= url_for(project) %>">
            <% if project.short_description.empty? %>
                <%= simple_format project.description %>
            <% else %>
                <%= simple_format project.short_description %>
            <% end %>
          </div>
      <% end %>
  <% end %>
</div>

