<% content_for :pageTitle do %>
    <%= t('layout.title.messageAdminMailForm') %>
<% end %>

<section class="contact-form">
  <%= bootstrap_form_for @message, :url => admin_mail_path do |form| %>
      <h1><%= t 'contact.adminMail.title' %></h1>
      <div class="leftCol">
        <%= t 'contact.adminMail.text' %>
      </div>
      <div class="rightCol">
        <%= form.select(:sender, @senders.map{|g| [g, g]},
                 {label: t('contact.adminMail.labels.sender')}) %>
        <%= form.select(:recipient, @recipients.map{|group| [t('contact.adminMail.groups.' + group, user_email: current_user.email, project_week: ProjectWeek.default.title), group]},
                 {label: t('contact.adminMail.labels.recipient')}) %>
        <%= form.select(:type, @types.map{|type| [t('contact.adminMail.types.' + type), type]},
                        {label: t('contact.adminMail.labels.type')}) %>
        <%= form.text_field :subject, label: t('contact.adminMail.labels.subject') %>
        <%= form.label t('contact.adminMail.labels.body') %>
        <%= form.trix_editor :body, class: 'admin-mail-body' %>
        <%= form.submit t('contact.adminMail.submit') %>
      </div>
  <% end %>
</section>