<% provide :title, t('layout.title.messageContactForm') %>
<% wrapper_set 'white-box', 'container-small' %>
<% show_errors_for @message %>

<h1><%= t 'contact.orga.title' %></h1>
<%= t 'contact.orga.text' %>
<div class="mt-4">
  <%= bootstrap_form_for @message, url: contact_path do |form| %>
    <%= form.email_field :sender, value: user_signed_in? ? current_user.email : @message.sender, label: t('contact.general.placeholders.sender') %>
    <%= form.text_field :subject, label: t('contact.general.placeholders.subject') %>
    <%= form.text_area :body, label: t('contact.general.placeholders.body') %>
    <%= form.hidden_field :recipient, value: 'default@servethecity-karlsruhe.de' %>
    <% unless user_signed_in? %>
      <%= form.form_group do %>
        <%= recaptcha_tags ajax: true, script: false %>
      <% end %>
    <% end %>
    <%= button_tag class: 'btn btn-primary' do %>
      <span class="fas fa-envelope"></span> <%= t('contact.orga.submit') %>
    <% end %>
  <% end %>

</div>