<div class="row">
  <section class="col-md-12">

    <p>
      <strong>Picture:</strong>
      <%= @gallery_picture.picture %>
    </p>

    <p>
      <strong>Uploader:</strong>
      <%= @gallery_picture.uploader.full_name %>
    </p>

    <p>
      <%= link_to 'Zur Galerie', @gallery_picture.gallery %>
    </p>

    <%= link_to 'Edit', edit_gallery_picture_path(@gallery_picture) %> |
    <%= link_to 'Back', gallery_pictures_path %>

  </section>
</div>