<% provide :title, t('layout.title.userPasswordChange', user:@user.full_name) %>

<%= devise_error_messages! %>

<%= bootstrap_form_for(resource, as: resource_name,
      url: registration_path(resource_name), html: { method: :put }) do |f| %>

<h1>Passwort ändern</h1>
<%= f.password_field :current_password %>
<%= f.password_field :password %>
<%= f.password_field :password_confirmation %>

<%= f.submit t('general.action.save') %>
<%= link_to t('general.action.cancel'), edit_user_path(@user), class:'btn btn-default' %>


<% end %>