<%= render '/layouts/smallheader' -%>




<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <section>
      <h1>Profil bearbeiten: <%= @user.full_name %></h1> ( <%= link_to "zurück zum Profil", :back %> )
      <%= devise_error_messages! %>
    </section>

    <div class="two-col-group profile-view profile-edit-view">
      <div>
        <section class="info">
          <h1>Mein Profil</h1>
          <h3>Benutzername</h3>
          <%= f.text_field :username %>
          <h3>Vorname</h3>
          <%= f.text_field :first_name %>
          <h3>Nachname</h3>
          <%= f.text_field :last_name %>
          <h3>Email</h3>
          <%= f.text_field :email %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        </section>
      </div>
      <div>
        <section class="change_password">
          <h3>Passwort ändern</h3>
          <div><i>Leer lassen, wenn du dein aktuelles Passwort beibehalten möchtest.</i><br />
            <%= f.password_field :password, :autocomplete => "off", placeholder: 'Neues Passwort' %>
          </div>
          <div>
            <%= f.password_field :password_confirmation, placeholder: 'Passwort bestätigen' %>
          </div>

        </section>
      </div>
      <div>
        <section class="save_edit">
          <i>Gib dein aktuelles Passwort ein um die Änderungen zu bestätigen</i>
          <br />
          <%= f.password_field :current_password, placeholder: 'Aktuelles Passwort' %>
          <%= f.submit "Daten aktualisieren" %>
        </section>
      </div>
    </div>

  <section>
    <%= link_to "Account löschen", registration_path(resource_name),
                :data => { :confirm => "Profil wirklich löschen?" }, :method => :delete %>
  </section>


<% end %>