<% provide :title, t('layout.title.actionGroup', year: @action_group.title) %>
<% wrapper_set %>
<% actions = policy_scope(@action_group.actions.toplevel) %>

<% content_for :head do %>
  <% desc = "Alle Aktionen der Aktionswoche #{@action_group.title} vom #{l @action_group.date_range.begin, format: :only_day} "
     + "bis #{l @action_group.date_range.end, format: :short_date} findest du hier. Welche Aktion passt zu dir?" %>
  <meta name="description" content="<%= desc %>" />
  <meta property="og:image" content="https://www.servethecity-karlsruhe.de/images/share.jpg" />
  <meta property="og:description" content="<%= desc %>" />
<% end %>



<div id="action-group-header" class="white-box">
  <div class="row align-items-center">

    <%# week title and select dropdown %>
    <div id="action-group-select" class="col-sm-6">
      <h1>Aktionswoche <%= @action_group.title %></h1>
      <%= render '/layouts/week_dropdown', target_path: lambda { |action_group| show_action_group_path(action_group.title) } %>
    </div>

    <div id="action-group-info" class="col-sm-6">

      <%# total action count %>
      <div class="infobox">
        <span>
          <%= actions_count = actions.visible.count %>
          <% if (hidden_actions_count = actions.hidden.count) > 0 %>
            <span class="hidden-actions">+  <%= hidden_actions_count.to_s %></span>
          <% end %>
        </span>
        <div><%= Action.model_name.human(count: actions_count) %></div>
      </div>

      <%# total unique user count %>
      <% if @action_group.active_user_count > 0 %>
        <% if current_user&.in_orga_team? %>
          <a href="<%= statistiken_teilnahmen_path %>">
        <% end %>
        <div class="infobox">
          <span><%= @action_group.active_user_count %></span>
          <div><%= t('user.label.countActive') %></div>
        </div>
        <% if current_user&.in_orga_team? %>
          </a>
        <% end %>
      <% end %>

      <%# total free places count %>
      <% if (vacancy_count = @action_group.vacancy_count) > 0 %>
        <% if current_user&.in_orga_team? %>
          <a href="<%= statistiken_auslastung_path %>">
        <% end %>
        <div class="infobox">
          <span><%= vacancy_count %></span>
          <div><%= t('action.label.vacancies') %></div>
        </div>
        <% if current_user&.in_orga_team? %>
          </a>
        <% end %>
      <% end %>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-lg-2">
    <div class="row align-items-stretch">

      <%# filter module %>
      <div class="col-sm-6 col-md-12">
        <div class="white-box">
          <h3>Filtern</h3>
          <%= bootstrap_form_for(:filter, url: actions_path, method:'get', html: {data: {
                class: 'ActionFilter', list: '#action-list', info: '#action-group-filter-results'}}) do |f| %>
            <%#= collection_select(:week, ActionGroup.all, :id, :title,
                   :include_blank => "- - - Aktionswoche egal - - -") %>
            <%= f.select(:day, options_for_day_select(@action_group), include_blank: "- - - Alle Tage - - -", hide_label: true) %>
            <% if user_signed_in? && current_user.in_orga_team? %>
              <%= f.select(:visibility, [['Sichtbar', :visible], ['Versteckt', :hidden]],
                           include_blank: "- - - Sichtbarkeit egal - - -", hide_label: true) %>
            <% end %>
            <%= f.check_box :after_17h, label: 'Nur Aktionen ab 17 Uhr anzeigen' %>
            <%= f.submit 'Aktionen filtern', class:'btn btn-secondary btn-block' %>
            <div id="action-group-filter-results"></div>
          <% end %>
        </div>
      </div>

      <%# propose action link %>
      <div class="col-sm-6 col-md-12 hidden-xs-down">
        <div class="white-box">
          <h3>Eigene Aktion</h3>
          <span><%= t('action.action.wantToStartOwnAction') %></span>
          <%= link_to t('action.action.weHelpYou'), own_action_path %>
        </div>
      </div>

      <%# admin options %>
      <% if policy(:action).new? %>
        <div class="col-sm-6 col-md-12 hidden-xs-down">
          <div class="white-box">
            <h3>Optionen</h3>
            <%= link_to t('action.action.new'), new_action_path, class:'btn btn-secondary btn-block' %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
  <div class="col-md-9 col-lg-10">

    <div id="action-list">
      <%= render '/actions/action_card_list', actions: @actions %>
      <% if policy_scope(@action_group.actions).toplevel.count == 0 %>
        <div class="white-box">
          <%= t('action_group.noActions') %>
        </div>
      <% end %>
    </div>

  </div>
</div>

<div class="white-box hidden-sm-up">
  <h3>Eigene Aktion</h3>
  <span><%= t('action.action.wantToStartOwnAction') %></span>
  <%= link_to t('action.action.weHelpYou'), own_action_path, class:'btn btn-secondary btn-new-action' %>
</div>

<% if policy(:action).new? %>
  <div class="white-box hidden-sm-up">
    <h3>Optionen</h3>
    <%= link_to t('action.action.new'), new_action_path, class:'btn btn-secondary btn-block' %>
  </div>
<% end %>