<% provide :title, t('layout.title.actionGroup', year: @action_group.title) %>
<% wrapper_set %>
<% actions = policy_scope(@action_group.actions.toplevel) %>

<% content_for :head do %>
  <% desc = "Alle Aktionen der Aktionswoche #{@action_group.title} vom #{l @action_group.date_range.begin, format: :only_day} "
     + "bis #{l @action_group.date_range.end, format: :short_date} findest du hier. Welche Aktion passt zu dir?" %>
  <meta name="description" content="<%= desc %>" />
  <meta property="og:image" content="https://www.servethecity-karlsruhe.de/images/share.jpg" />
  <meta property="og:description" content="<%= desc %>" />
<% end %>



<div id="action-group-header" class="white-box px-2 py-4">
  <% groups = ActionGroup.all.order(:start_date) %>
  <% group_index = groups.index(@action_group) %>
  <% previous_group = group_index.positive? ? groups[group_index - 1] : nil %>
  <% next_group = groups[group_index + 1] %>

  <div class="row align-items-center">
    <div class="col-sm-3 order-first">
      <% if previous_group %>
        <% split = split_action_group_type_prefix(previous_group.title) %>
        <%= link_to show_action_group_path(previous_group) do %>
          <div class="fa fa-2x fa-chevron-left pr-2"></div>
          <div class="neighbor-linktext">
            <div class="type"><%= split[:type] %></div>
            <div class="title"><%= split[:name] %></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-3 order-last">
      <% if next_group %>
        <% split = split_action_group_type_prefix(next_group.title) %>
        <%= link_to show_action_group_path(next_group) do %>
          <div class="neighbor-linktext">
            <div class="type"><%= split[:type] %></div>
            <div class="title"><%= split[:name] %></div>
          </div>
          <div class="fa fa-2x fa-chevron-right pl-2"></div>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-6 text-center">
      <h1 class="m-0"><%= @action_group.title %></h1>
      <div class="date h3 m-0"><%= date_range(@action_group.start_date, @action_group.end_date, format: :long) %></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-lg-2">
    <div class="row align-items-stretch">

      <%# general info %>
      <div id="action-group-info" class="col-sm-6 col-md-12">
        <div class="white-box">
          <%# total action count %>
          <div class="infobox">
            <span>
              <%= actions_count = actions.visible.count %>
              <% if (hidden_actions_count = actions.hidden.count) > 0 %>
                <span class="hidden-actions">+  <%= hidden_actions_count.to_s %></span>
              <% end %>
            </span>
            <div><%= Action.model_name.human(count: actions_count) %></div>
          </div>

          <%# total unique user count %>
          <% if @action_group.active_user_count > 0 %>
            <% if current_user&.in_orga_team? %>
              <a href="<%= statistiken_teilnahmen_path %>">
            <% end %>
            <div class="infobox">
              <span><%= @action_group.active_user_count %></span>
              <div><%= t('user.label.countActive') %></div>
            </div>
            <% if current_user&.in_orga_team? %>
              </a>
            <% end %>
          <% end %>

          <%# total free places count %>
          <% if (vacancy_count = @action_group.vacancy_count) > 0 %>
            <% if current_user&.in_orga_team? %>
              <a href="<%= statistiken_auslastung_path %>">
            <% end %>
            <div class="infobox">
              <span><%= vacancy_count %></span>
              <div><%= t('action.label.vacancies') %></div>
            </div>
            <% if current_user&.in_orga_team? %>
              </a>
            <% end %>
          <% end %>
        </div>
      </div>

      <%# filter module %>
      <div class="col-sm-6 col-md-12">
        <div class="white-box">
          <h3>Filtern</h3>
          <%= bootstrap_form_for(:filter, url: actions_path, method:'get', html: {data: {
                class: 'ActionFilter', list: '#action-list', info: '#action-group-filter-results'}}) do |f| %>
            <%= f.select(:day, options_for_day_select(@action_group), include_blank: "- - - Alle Tage - - -", hide_label: true) %>
            <% if user_signed_in? && current_user.in_orga_team? %>
              <%= f.select(:visibility, [['Sichtbar', :visible], ['Versteckt', :hidden]],
                           include_blank: "- - - Sichtbarkeit egal - - -", hide_label: true) %>
            <% end %>
            <%= f.check_box :after_17h, label: 'Nur Aktionen ab 17 Uhr anzeigen' %>
            <%= f.submit 'Aktionen filtern', class:'btn btn-secondary btn-block' %>
          <% end %>
        </div>
      </div>

      <%# propose action link %>
      <div class="col-sm-6 col-md-12 hidden-xs-down">
        <div class="white-box">
          <h3>Eigene Aktion</h3>
          <span><%= t('action.action.wantToStartOwnAction') %></span>
          <%= link_to t('action.action.weHelpYou'), own_action_path %>
        </div>
      </div>

      <%# admin options %>
      <% if policy(:action).new? %>
        <div class="col-sm-6 col-md-12 hidden-xs-down">
          <div class="white-box">
            <h3>Optionen</h3>
            <%= link_to t('action.action.new'), new_action_path, class:'btn btn-secondary btn-block' %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
  <div class="col-md-9 col-lg-10">

    <div id="action-list">
      <%= render '/actions/action_card_list', actions: @actions %>
      <% unless actions.any? %>
        <div class="white-box text-center" style="max-width: 600px; margin: 30px">
          <%= t('action_group.noActions') %>
        </div>
      <% end %>
    </div>

  </div>
</div>

<div class="white-box hidden-sm-up">
  <h3>Eigene Aktion</h3>
  <span><%= t('action.action.wantToStartOwnAction') %></span>
  <%= link_to t('action.action.weHelpYou'), own_action_path, class:'btn btn-secondary btn-new-action' %>
</div>

<% if policy(:action).new? %>
  <div class="white-box hidden-sm-up">
    <h3>Optionen</h3>
    <%= link_to t('action.action.new'), new_action_path, class:'btn btn-secondary btn-block' %>
  </div>
<% end %>