<%= bootstrap_form_for(@template) do |f| %>

<% if @template.errors.any? %>
  <section id="error_explanation">
    <h2><%= t('surveys.message.errorList') %></h2>
    <ul>
      <% @template.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<div class="typeHeader">
  &nbsp;<%= isNew ? t('surveys.label.newTemplate') : t('surveys.label.editTemplate') %>&nbsp;
</div>
<h1><%= @template.title %></h1>

<section>
  <%= f.text_field :title %>
  <%= f.check_box :show_in_user_profile %>
</section>
<div class="questions">
  <%= f.fields_for :questions do |builder| %>
      <%= render 'question_fields', f: builder %>
  <% end %>
  <div style="display: none;" id="question-insertion-point"></div>
</div>

<section>
  <%= f.submit t('surveys.action.saveTemplate') %>
  <%= link_to t('surveys.action.toTemplateOverview'), surveys_templates_path, class: 'btn btn-default' %>
  <% if !isNew %>
    <%= link_to t('surveys.action.deleteTemplate'), surveys_template_path(@template), method: :delete,
                data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
  <% end %>

  <%#= link_to 'Show', @template %>
  <%= link_to t('surveys.action.addQuestion'), 'javascript:void(0);',
        class: 'add-link btn btn-default',
        data: {target: '#question-insertion-point'} %>
</section>


<% new_object = f.object.class.reflect_on_association(:questions).klass.new %>
<div id="question-prototype" style="display: none;">
    <%= f.fields_for(:questions, new_object, :child_index => :new_question) do |builder|
      render('question_fields', :f => builder)
    end %>
</div>

<% end %>