<section class="item">
  <div class="row">
    <div class="col-sm-6">
      <%= f.hidden_field :position, class: 'position-field' %>
      <%= f.text_area :text %>
      <%= f.select(:question_type, Surveys::Question.question_types.keys.map {
            |s| [t("surveys.question.type.#{s}"), s] }) %>
      <%= f.check_box :is_subquestion %>
    </div>
    <div class="col-sm-6">
      <%= f.text_area :explanation %>
      <%= f.text_area :answer_options %>
      <%= f.hidden_field :_destroy %>
      <%= link_to t('surveys.action.removeQuestion'), "javascript:void(0);",
                  class: 'remove-link btn btn-secondary' %>
    </div>
  </div>
</section>