<%= render '/layouts/smallheader' -%>

<section class="contact-form">
    <div class="popupTarget">
      <%= form_for @message, :url => contact_path do |form| %>
        <h1><%= t 'contact.title' %></h1>
        <div class="leftCol">
          <%= t 'contact.text' %>
        </div>
        <div class="rightCol">
          <div>
            <h3><%= t('contact.field_title.email') %></h3>
            <%= form.email_field :email %>
          </div>
          <div>
            <h3><%= t('contact.field_title.subject') %></h3>
            <%= form.text_field :subject %>
          </div>
          <div>
            <h3><%= t('contact.field_title.body') %></h3>
            <%= form.text_area :body %>
          </div>
          <div>
            <br />
            <%= form.submit t('contact.submit') %>
          </div>
        </div>
      <% end %>
    </div>
</section>
