<%= render '/layouts/smallheader' -%>

<section class="contact-form">
  <% if alert %>
    <ul id="alert" class="plopupTarget">
      <% alert.each do |msg| %>
        <li><%= msg[0] %></li>
      <% end %>
    </ul>
  <% end %>

  <%= bootstrap_form_for @message, :url => contact_path do |form| %>
    <h1><%= t 'contact.orga.title' %></h1>
    <div class="leftCol">
      <%= t 'contact.orga.text' %>
    </div>
    <div class="rightCol">
      <% if user_signed_in? %>
        <%= form.email_field :sender, value: current_user.email %>
      <% else %>
        <%= form.email_field :sender %>
      <% end %>
      <%= form.text_field :subject %>
      <%= form.text_area :body %>
      <%= form.hidden_field :recipient, value: 'default@servethecity-karlsruhe.de' %>
      <%= form.submit t('contact.orga.submit') %>
    </div>
  <% end %>
</section>
