<%= render '/layouts/smallheader' -%>

<%= form_for @message, :url => contact_path do |form| %>
  <section>
    <div>
      <h1><%= t 'contact.title' %></h1>
      <%= t 'contact.text' %>
    </div>
    <div>
      <div><%= form.email_field :email, placeholder: t('contact.placeholder.email') %></div>
      <div><%= form.text_field :subject, placeholder: t('contact.placeholder.subject') %></div>
      <div><%= form.text_area :body, placeholder: t('contact.placeholder.body') %></div>
      <div><%= form.submit t('contact.submit') %></div>
    </div>
  </section>
<% end %>