<%= bootstrap_form_for([@submission.template, @submission]) do |f| %>

<% if @submission.errors.any? %>
  <section id="error_explanation">
    <h2><%= t('surveys.message.errorList') %></h2>
    <ul>
      <% @submission.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<div class="record-header">
  <div class="type">
    &nbsp;<%= Surveys::Submission.model_name.human %>&nbsp;
  </div>
  <h1><%= @submission.template.title %></h1>
</div>

<section>
  <%= render 'form_questions', f: f %>
</section>

<section>
  <%= f.submit t('surveys.button.saveSubmission'), class:'submit btn btn-secondary' %>
</section>

<% end %>
