<% provide :title, t('layout.title.statistics') %>

<div id="statistics-header" class="section">
  <div class="select-year">
    <h1>Aktionsauslastung <%= @action_group.title %></h1>
    <%= render '/statistics/week_dropdown',  target_path: lambda { |action_group| occupancy_in_year_path(action_group) } %>
  </div>
</div>

<table class="table table-hover statistics-table table-striped">
  <thead>
  <tr>
    <th><%= sortable_column 'title', 'Aktion'%></th>
    <th><%= sortable_column 'volunteer_count', 'Belegte Plätze'%></th>
    <th><%= sortable_column 'free_places', 'Freie Plätze'%></th>
    <th><%= sortable_column 'desired_team_size', 'Gesamt Plätze'%></th>
    <th><%= sortable_column 'occupancy', 'Auslastung'%></th>
  </tr>
  </thead>
  <tbody>
  <% overall_team_size = overall_desired_team_size = 0 %>
  <% @actions.each do |action| %>
    <tr>
      <% team_size = action.total_team_size %>
      <% desired_team_size = action.total_desired_team_size %>
      <td>
        <% if action.subactions.any? %>
          <%= link_to action.full_title, action, class: 'font-weight-bold',
                      title: 'Überaktion: Statistiken beinhalten Zahlen für Teilaktionen' %>
        <% elsif action.subaction? %>
          <%= link_to action.full_title, action, class: 'font-italic', title: 'Teilaktion' %>
        <% else %>
          <%= link_to action.full_title, action %>
        <% end %>
      </td>
      <td><%= team_size %></td>
      <td><%= desired_team_size - team_size %></td>
      <td><%= desired_team_size %></td>
      <td><%= desired_team_size.zero? ? '-' : "#{100 * team_size / desired_team_size} %" %></td>
    </tr>
    <% unless action.subaction? %>
      <% overall_team_size += team_size; overall_desired_team_size += desired_team_size %>
    <% end %>
  <% end %>
  <tr>
    <td><strong>Gesamt</strong></td>
    <td><strong><%= overall_team_size %></strong></td>
    <td><strong><%= overall_desired_team_size - overall_team_size %></strong></td>
    <td><strong><%= overall_desired_team_size %></strong></td>
    <td><strong>
      <%= overall_desired_team_size.zero? ? '-' : "#{100 * overall_team_size / overall_desired_team_size} %" %>
    </strong></td>
  </tr>
  </tbody>
</table>