<% content_for :pageTitle do %>
  <%= t('layout.title.statistics') %>
<% end %>

<section>
  <h1>Projektauslastung</h1>
</section>

<div class="row row-md-eq-height">
  <section class="col-md-12">
    <table class="table table-hover statistics-table">
      <thead>
      <tr>
        <th><%= sortable_column 'title', 'Projekt'%></th>
        <th><%= sortable_column 'volunteer_count', 'Belegte Plätze'%></th>
        <th><%= sortable_column 'free_places', 'Freie Plätze'%></th>
        <th><%= sortable_column 'desired_team_size', 'Gesamt Plätze'%></th>
        <th><%= sortable_column 'occupancy', 'Auslastung'%></th>
      </tr>
      </thead>
      <tbody>
      <% all_volunteers = 0; all_team_size = 0 %>
      <% @projects.each do |project| %>
        <tr>
          <% volunteers = project.volunteers.size; team_size = project.desired_team_size %>
          <td><%= link_to project.title, project_path(project) %></td>
          <td><%= volunteers %></td>
          <td><%= team_size - volunteers %></td>
          <td><%= team_size %></td>
          <% if team_size > 0 %>
            <td><%= 100 * volunteers / team_size %> %</td>
          <% else %>
            <td>-</td>
          <% end %>
        </tr>
        <% all_volunteers += volunteers; all_team_size += team_size %>
      <% end %>
      <tr>
        <td><strong>Gesamt</strong></td>
        <td><strong><%= all_volunteers %></strong></td>
        <td><strong><%= all_team_size - all_volunteers %></strong></td>
        <td><strong><%= all_team_size %></strong></td>
        <td><strong><%= 100 * all_volunteers / all_team_size  %> %</strong></td>
      </tr>
      </tbody>
    </table>
  </section>
</div>
