<% provide :title, t('layout.title.statistics') %>

<div id="statistics-header" class="section">
  <div class="select-year">
    <h1>Neue Aktionsteilnahmen <%= @action_group.title %></h1>
    <%= render '/statistics/week_dropdown', target_path: lambda { |action_group| statistiken_teilnahmen_path(action_group: action_group) } %>
  </div>
</div>

<div class="section">
  <% chart_data = @participations %>
  <% if chart_data.any? %>
    <% chart_data[chart_data.keys.min - 1] = 0  %>
    <% chart_data[chart_data.keys.max + 1] = 0  %>
  <% end %>
  <%= line_chart chart_data, colors: ['#229c95'] %>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Datum</th>
    <th>Neue Teilnahmen</th>
  </tr>
  </thead>
  <tbody>
  <% @participations.each do |date, count| %>
    <% if count > 0 %>
        <tr>
          <td><%= l date, format: :default %></td>
          <td><%= count %></td>
          <td><%= link_to 'Details', participations_on_day_path(action_group: @action_group, date: date)  %></td>
        </tr>
    <% end %>
  <% end %>
  </tbody>
</table>