<% content_for :pageTitle do %>
    <%= t('layout.title.surveyAnswerList') %>
<% end %>

<section class="feedback survey_answer list-view">
  <h1><%= t('feedback.label.surveyAnswerList') %></h1>

  <table>
    <thead>
    <tr>
      <th>Survey</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @survey_answers.each do |feedback_survey_answer| %>
        <tr>
          <td><%= feedback_survey_answer.survey_id %></td>
          <td><%= link_to 'Show', feedback_survey_answer %></td>
          <td><%= link_to 'Edit', edit_feedback_survey_answer_path(feedback_survey_answer) %></td>
          <td><%= link_to 'Destroy', feedback_survey_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'New Survey answer', new_feedback_survey_answer_path, class: 'btn btn-default' %>
</section>


