<% survey = @survey_answer.survey %>
<%# answers = @survey_answer.answers.joins(:questions).order(:position) %>
<% answers = @survey_answer.answers %>
<div class="feedback survey_answer view">

<p id="notice"><%= notice %></p>

<section>
  <div class="typeHeader">
    &nbsp;<%= Feedback::SurveyAnswer.model_name.human %>&nbsp;
  </div>
  <h1><%= survey.title %></h1>
</section>

<section>
  <% answers.each_with_index do |answer, i| %>

    <% question = answer.question %>
    <h4><%= (i + 1).to_s + '.) ' + question.text %></h4>
    <%= render partial: (question.question_type || 'text') + '_answer',
               locals: {question: question, answer: answer} %>
  <% end %>
</section>

<section>
  <%= link_to t('feedback.action.editSurveyAnswer'), edit_feedback_survey_answer_path(@survey_answer), class: 'btn btn-default' %>
  <%= link_to t('feedback.action.toSurveyAnswerOverview'), feedback_survey_answers_path, class: 'btn btn-default' %>
</section>
</div>