<% has_upcoming_events = action.events.upcoming.any? %>

<% action.events.each do |event| %>
  <% volunteers = event.volunteers %>
  <% team_size = volunteers.count %>
  <% desired = event.desired_team_size %>

  <div class="white-box <%= "event_#{event.status}" if has_upcoming_events %>">

    <span class="badge status_<%= event.status %> float-right mt-2"
          title="<%= t('action.help.remainingVacancy', places: desired - team_size) %>">
      <%= "#{team_size} / #{desired}" %>
    </span>

    <% if action.events.count > 1 %>
      <h4 class="mt-1 mb-2"><%= l(event.date, format: :date) unless event.date.nil? %>, <%= event.time %></h4>
    <% else %>
      <h3 class="mb-2"><%= t('action.label.volunteers_in_action') %></h3>
    <% end %>

    <% if desired&.positive? %>
      <div class="comma-list ml-2">
        <% volunteers.each do |volunteer| %>
          <span>
            <%= link_to volunteer.first_name, volunteer %>
            <% if policy(event).manage_team? %>
              <%= link_to delete_volunteer_event_path(event, user_id: volunteer.id),
                          method: 'delete', title: t('action.action.removeVolunteer') do %>
                <span class="fas fa-times" aria-label="<%= t('action.action.removeVolunteer') %>"></span>
              <% end %>
            <% end %>
          </span>
        <% end %>
      </div>
    <% end %>

    <div class="my-2">
      <% if policy(event).leave? %>
        <%= link_to leave_event_path(event), class: 'btn btn-danger btn-block' do %>
          <span class="fas fa-sign-out-alt"></span> <%= t('action.action.leave') %>
        <% end %>
      <% elsif event.available_places.positive? %>
        <% if user_signed_in? %>
          <%= link_to enter_event_path(event), class: 'btn btn-success btn-block' do %>
            <span class="fas fa-sign-in-alt"></span> <%= t('action.action.enter') %>
          <% end %>
        <% else %>
          <%= link_to register_for_participation_event_path(event), class: 'btn btn-success btn-block' do %>
            <span class="fas fa-sign-in-alt"></span> <%= t('action.action.enter') %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <% if policy(event).manage_team? && policy(User).index? %>
      <%= select_tag 'select-new-volunteer', options_for_user_select,
           class: 'selectpicker col-select btn-block', title: t('action.action.addVolunteer'),
           data: {class: 'SelectPicker', handler: 'addNewVolunteer',
                  'live-search': true, event_id: event.id, size: 5} %>
    <% end %>

  </div>
<% end %>

<% if action.events.finished.any? && has_upcoming_events %>
  <a href="javascript:void(0)" onclick="$('.event_finished').slideToggle(); $(this).hide();"
     class="btn btn-secondary btn-block">
    <%= t('action.action.showPastEvents') %>
  </a>
<% end %>