<% actions.each do |action| %>
  <%= link_to action, class: (action.visible? ? 'action-entry' : 'action-entry hidden-action') do %>
    <div class="image">
      <%= image_tag (action.show_picture? ? action.picture_url(:action_list) : 'placeholder.svg') %>
    </div>
    <div class="info">
      <% if show_occupancy %>
        <div class="badges">
          <% if [:empty, :soon_full, :full].include? action.status %>
            <% team_size = action.total_team_size %>
            <% desired_team_size = action.total_desired_team_size %>
            <span class="badge status_<%= action.status %>"
                  title="<%= t('action.help.remainingVacancy', places: desired_team_size - team_size) %>">
              <%= "#{team_size} / #{desired_team_size}" %>
            </span>
          <% end %>
        </div>
      <% end %>
      <% if show_date && !action.date.nil? %>
        <div class="date"><%= l action.date, format: :date %></div>
      <% end %>
      <div class="title"><%= simple_titles ? action.title : action.full_title %></div>
    </div>
  <% end %>
<% end %>