<% provide :title, t('layout.title.action.list') %>

<% @actions.each do |action| %>
  <div class="action">
    <div class="action-title">
      <%= link_to action do %>
         <h2><%= action.title %></h2>
      <% end %>
    </div>
    <div class="action-image">
      <%= link_to action do %>
          <% if action.show_picture? && action.picture.file %>
              <%= image_tag action.picture_url(:action_list), lazy:true %>
          <% else %>
              <%= image_tag 'placeholder.svg' %>
          <% end %>
          <div class="action-status status_<%= action.status %>">
            <%= t "action.status.#{action.status}" %>
          </div>
      <% end %>
    </div>
    <div class="action-description">
      <% if action.short_description.empty? %>
          <div><%= action.description %></div>
      <% else %>
          <div><%= action.short_description %></div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="section visible-xs visible-sm">
  <h3>Optionen</h3>
  <%= link_to t('action.action.new'), new_action_path, class:'btn btn-default btn-wide' %>
</div>