<% provide :title, @action.title + (@action.parent_action ? (' - ' + @action.parent_action.title) : '') %>
<% wrapper_classes.delete('white-box') %>
<% wrapper_classes.add('action-invisible') unless @action.visible? %>

<% content_for :head do %>
    <meta name="description" content="<%= @action.short_description %>" />
    <% if @action.show_picture? %>
        <meta property="og:image" content="<%= image_url(@action.picture_url) %>" />
    <% end %>
    <meta property="og:description" content="<%= @action.short_description %>" />
<% end %>

<div class="white-box record-header d-print-none">
  <h1><%= @action.title %></h1>
  <div class="type">
    <% if @action.is_subaction? %>
      <%= t('action.label.subaction_of') %>
      <%= link_to @action.parent_action.title, action_path(@action.parent_action) %>
    <% else %>
      <%= Action.model_name.human %>
    <% end %>
    <% if @action.action_group %>
      - <%= link_to @action.action_group.title, show_action_group_path(@action.action_group.title) %>
    <% end %>
  </div>
  <div class="labels">
    <% unless @action.visible? %>
      <span class="badge status_hidden"><%= t('action.status.hidden') %></span>
    <% end %>
    <span class="badge status_<%= @action.status %>">
        <%= t "action.status.#{@action.status}" %>
      </span>
  </div>
</div>

<div class="row align-items-stretch">
  <div class="col-md-8">
    <div class="row parent-height align-items-stretch">
      <div class="col-12">

        <section class="white-box">
          <h2 class="d-print-only"><%= @action.title %></h2>

          <%# action picture %>
          <% if @action.show_picture? && @action.picture.file %>
            <div class="action-picture picture-container">
              <%= image_tag @action.picture_url(:action_view) %>
              <div class="copyright" title="© <%= @action.picture_source %>">
                © <%= @action.picture_source %>
              </div>
            </div>
          <% end %>

          <%# action description %>
          <div class="description">
            <%= simple_format( simple_format_urls @action.description ) %>
          </div>
          <% unless @action.individual_tasks.blank? %>
            <div class="individual_tasks">
              <h3><%= Action.human_attribute_name(:individual_tasks) %></h3>
              <%= simple_format @action.individual_tasks %>
            </div>
          <% end %>
          <% unless @action.requirements.blank? %>
            <div class="requirements">
              <h3><%= Action.human_attribute_name(:requirements) %></h3>
              <%= simple_format @action.requirements %>
            </div>
          <% end %>
          <% unless @action.material.blank? %>
            <div class="material">
              <h3><%= Action.human_attribute_name(:material) %></h3>
              <%= simple_format @action.material %>
            </div>
          <% end %>

        </section>

      </div>

      <%# gallery %>
      <% if show_gallery?(@action) || policy(@action).upload_pictures? %>
        <div class="col-12">
          <section id="actions-gallery" class="white-box d-print-none">
            <%= render 'action_gallery', action: @action %>
          </section>
        </div>
      <% end %>

      <%# communication %>
      <% if policy(@action).contact_volunteers? %>
        <div class="col-12">
          <section id="action-communication" class="white-box d-print-none">
            <%= bootstrap_form_for(@message, url: {action: 'contact_volunteers'}) do |f| %>
              <h3><%= t('contact.team.title') %></h3>
              <p><%= t('contact.team.text') %></p>
              <% if user_signed_in? && current_user.admin? %>
                <p>(<%= (@action.volunteers + @action.leaders + [current_user]).uniq.map { |v| v.email}.join(', ') %>)</p>
              <% end %>
              <%= f.text_field :subject, label: t('contact.general.placeholders.subject') %>
              <%= f.text_area :body, label: t('contact.general.placeholders.body') %>
              <%= f.submit t('contact.team.submit'), class: 'btn btn-primary' %>
            <% end %>
          </section>
        </div>
      <% elsif policy(@action).contact_leaders? %>
        <div class="col-12">
          <section id="action-communication" class="white-box d-print-none">
            <%= bootstrap_form_for(@message, url: {action: 'contact_leaders'}) do |f| %>
              <h3><%= t('contact.leaders.title') %></h3>
              <p><%= t('contact.leaders.text') %></p>
              <%= f.text_field :subject, label: t('contact.general.placeholders.subject') %>
              <%= f.text_area :body, label: t('contact.general.placeholders.body') %>
              <%= f.submit t('contact.leaders.submit'), class: 'btn btn-primary' %>
            <% end %>
          </section>
        </div>
      <% end %>

    </div>
  </div>

  <div class="col-md-4">
    <div class="row align-items-stretch">

      <%# control panel %>
      <% if policy(@action).edit? %>
        <div class="col-sm-6 col-md-12 d-print-none">
          <section class="white-box">
            <%= link_to edit_action_path(@action), class:'btn btn-primary btn-block' do %>
              <span class="fa fa-pencil"></span> <%= t('action.action.edit') %>
            <% end %>
            <% if policy(@action).change_visibility? %>
                <% if @action.visible %>
                  <%= link_to make_invisible_action_path(@action), class:'btn status_hidden btn-block' do %>
                    <span class="fa fa-eye-slashed"></span> <%= t('action.action.makeInvisible') %>
                  <% end %>
                <% else %>
                  <%= link_to make_visible_action_path(@action), class:'btn status_hidden btn-block' do %>
                    <span class="fa fa-eye"></span> <%= t('action.action.makeVisible') %>
                  <% end %>
                <% end %>
            <% end %>
            <% if @action.closed? %>
              <%= link_to open_action_path(@action), class:'btn btn-success btn-block' do %>
                <span class="fa fa-play-circle"></span> <%= t('action.action.open') %>
              <% end %>
            <% else %>
              <%= link_to close_action_path(@action), class:'btn btn-success btn-block' do %>
                <span class="fa fa-check"></span> <%= t('action.action.close') %>
              <% end %>
            <% end %>
          </section>
        </div>
      <% end %>

      <%# action date/location info %>
      <div class="col-sm-6 col-md-12">
        <div class="white-box">
          <div>
            <h3><%= Action.human_attribute_name('date'.pluralize(@action.dates.count)) %></h3>
            <%= @action.dates.collect { |date| l(date, format: :short_with_weekday)}.join('<br />').html_safe %>
          </div>
          <div>
            <%= simple_format @action.time %>
          </div>
          <div>
            <h3><%= Action.human_attribute_name('location') %></h3>
            <%= simple_format @action.location %>
          </div>
          <% unless @action.longitude == 0 %>
              <div class="map d-print-none" data-class="GoogleMap" data-map-id="action"
                   data-zoom="<%= @action.map_zoom %>"
                   data-lon="<%= @action.map_longitude %>"
                   data-lat="<%= @action.map_latitude %>">
                <div data-name="<%= @action.title %>"
                     data-lon="<%= @action.longitude %>"
                     data-lat="<%= @action.latitude %>">
                </div>
              </div>
          <% end %>
        </div>
      </div>

      <%# sub actions %>
      <% subactions = policy_scope(@action.subactions).sort_by { |p| p.start_time || p.date || Time.now } %>
      <% if subactions.any? %>
        <div class="col-sm6 col-md-12">
          <div class="white-box">
            <div id="subaction-list">
              <h3><%= Action.human_attribute_name('subaction_ids') %></h3>
              <%= render 'actions/action_list', actions: subactions %>
            </div>
          </div>
        </div>
      <% end %>

      <%# team info %>
      <div class="col-sm-6 col-md-12 d-print-none">
        <div class="white-box">
          <div>
            <h3><%= Action.human_attribute_name('leaders') %></h3>
            <%= list_users(@action.leaders) %>
          </div>
          <div>
            <% if @action.volunteers.empty? && @action.desired_team_size > 0 %>
              <h3><%= t('action.label.volunteers_in_action') %></h3>
              <span class="badge badge-primary"><%= @action.desired_team_size.to_s %></span>
              <p class="no-volunteers"><%= t('action.label.no_volunteers') %></p>
            <% elsif !@action.volunteers.empty? %>
              <h3><%= t('action.label.volunteers_in_action') %></h3>
              <span class="badge badge-primary"><%= @action.volunteers.size.to_s + ' / ' + @action.desired_team_size.to_s %></span>
              <%= list_users(@action.volunteers) %>
            <% end %>
          </div>
          <% unless @action.volunteers_in_subactions.empty? %>
              <div>
                <h3><%= t('action.label.volunteers_in_subactions', members: @action.volunteers_in_subactions.size,
                          limit: @action.aggregated_desired_team_size - @action.desired_team_size) %></h3>
                <%= list_users(@action.volunteers_in_subactions.distinct) %>
              </div>
          <% end %>

          <% if user_signed_in? && @action.has_volunteer?(current_user) %>
            <p><%= t('action.message.teamMember') %></p>
          <% end %>
          <% if user_signed_in? && @action.has_volunteer_in_subaction?(current_user) %>
            <p><%= t('action.message.subactionTeamMember') %></p>
          <% end %>
          <% if policy(@action).manageTeam? %>
            <%= link_to edit_leaders_action_path(@action), class:'btn btn-primary btn-block' do %>
              <span class="fa fa-users"></span> <%= t('action.action.manageTeam') %>
            <% end %>
          <% end %>
          <% if policy(@action).leave? %>
            <%= link_to leave_action_path(@action), class: 'btn btn-danger btn-block' do %>
              <span class="fa fa-sign-out"></span> <%= t('action.action.leave') %>
            <% end %>
          <% elsif policy(@action).enter? %>
            <%= link_to enter_action_path(@action), class: 'btn btn-success btn-block' do %>
              <span class="fa fa-sign-in"></span> <%= t('action.action.enter') %>
            <% end %>
          <% elsif policy(@action).enter_subaction? %>
            <p><%= t('action.message.enterOneOfThesubactions') %></p>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="footer d-print-none">
  <%= render '/layouts/share' -%>
  <%= link_to action_ical_path(@action), class: 'float-right', title: t('action.action.exportICal'), data: { 'turbolinks': false } do %>
      <span class="fa fa-calendar"></span>
  <% end %>
  <% if @action.action_group %>
      <%= link_to t('action.action.toOverview'), show_action_group_path(@action.action_group.title), class: 'btn btn-light' %>
  <% end %>
</div>