<% unless defined? in_other_form %>
  <h2><%= t('user.heading.register') %></h2>
<% end %>

<%= bootstrap_form_for(resource, as: resource_name, namespace: 'page_reg', url: registration_path(resource_name)) do |f| %>

  <%#= devise_error_messages! %>

  <div class="row">
    <div class="col-sm-6">
      <%= f.text_field :first_name, autofocus: true %>
    </div>
    <div class="col-sm-6">
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <%= f.email_field :email %>
    </div>
    <div class="col-sm-6">
      <%= f.text_field :phone, label: t('user.form.phoneOptional') %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <%= f.password_field :password, help: t('user.help.passwordLength'), label: t('user.form.passwordSet') %>
    </div>
    <div class="col-sm-6">
      <%= f.form_group do %>
        <%= recaptcha_tags ajax: true, script: false %>
      <% end %>
    </div>
  </div>

  <p>
    <b>Verwendung der Daten</b><br />
    Mit der Angabe deiner Daten erstellst du dir ein Profil auf unserer Seite und kannst dich damit für Aktionen anmelden.
    Wenn du dich bei einer Aktion angemeldet hast, wird auf der zugehörigen Aktionsseite dein Vorname öffentlich angezeigt.
    Andere angemeldete Nutzer können auf deine Profilseite zugreifen und dort deinen vollen Namen sowie eine Liste deiner Aktionen sehen.
    Deine E-Mail-Adresse ist generell unsichtbar und wird zur (anpassbaren) Kontaktaufnahme per
    Formular durch Aktionsleiter, andere Nutzer oder das Organisationsteam verwendet.
    Wenn du deine Handynummer angibst, kann dich dein Aktionsleiter besser erreichen,
    falls du dich z.B. verspätest oder es kurzfristige Änderungen gibt.
    Weitere Infos findest du auf unserer <a href="/datenschutz" target="_blank">Datenschutz-Seite</a>.
    <%= f.check_box :privacy_consent, label: t('user.form.privacy_consent') %>
  </p>

  <%= button_tag class: 'btn btn-primary' do %>
    <span class="fas fa-user-plus"></span> <%= t('user.button.register') %>
  <% end %>
<% end %>