<% provide :title, t('layout.title.userDeleteAccount', user:@user.full_name) %>
<% wrapper_classes.delete('container-medium').add('container-small') %>

<h1><%= t('user.action.deleteAccount') %></h1>

<%= bootstrap_form_tag url: user_path(@user), method: :delete do |f| %>

  <%= f.password_field :confirm_delete_password, label: t('user.label.confirmDeletePassword') %>

  <%= button_tag class: 'btn btn-danger' do %>
    <span class="fa fa-trash"></span> <%= t('user.action.deleteAccount') %>
  <% end %>

<% end %>
