<% content_for :pageTitle do %>
    <%= t('layout.title.userDeleteAccount', user:@user.full_name) %>
<% end %>

<div id="user-edit-view">
  <div class="row row-sm-eq-height">
    <section class="col-middle col-centered">
      <h1><%= t('user.action.deleteAccount') %></h1>
      <%= bootstrap_form_tag url: user_path(@user), method: :delete do |f| %>
          <%= f.password_field :confirm_delete_password,
                 label: t('user.label.confirmDeletePassword') %>
          <%= f.submit t('user.action.deleteAccount'), class: 'btn btn-default btn-wide' %>
      <% end %>
    </section>
  </div>
</div>