<% provide :title, t('layout.title.userProfileEdit', user:@user.full_name) %>
<% wrapper_set 'container-medium' %>

<%= devise_error_messages! %>

<div class="white-box record-header">
  <div class="type">
    <%= t('user.label.edit') %>
  </div>
  <h1><%= @user.full_name %></h1>
</div>

<%= bootstrap_form_for(@user) do |f| %>

  <div class="row align-items-stretch">

    <div class="col-sm-5">
      <div class="white-box">
        <h2><%= t('user.label.userData') %></h2>
        <%= f.text_field :username %>
        <%= f.text_field :first_name %>
        <%= f.text_field :last_name %>
        <%= f.text_field :email %>
        <%= f.text_field :phone %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div><%= t('user.label.waitingForEmailConfirmation',
                       email: resource.unconfirmed_email) %></div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-7">
      <div class="white-box">
        <!--<h2><%= t('user.label.image') %></h2>
        <p>...coming soon<br><br></p>-->

        <h2><%= t('user.label.emailSettings') %></h2>
        <div class="checkbox">
          <%= label_tag :emails_from_orga do %>
              <%= check_box_tag :emails_from_orga, :emails_from_orga, receive_email_from_orga(@user) %>
              <%= t('user.label.receiveEmailsFromOrga') %>
          <% end %>
        </div>
        <div class="emails-from-orga">
          <%= f.check_box :receive_emails_about_action_groups %>
          <%= f.check_box :receive_emails_about_my_action_groups %>
          <%= f.check_box :receive_emails_about_other_projects %>
          <%= f.check_box :receive_other_emails_from_orga %>
        </div>
        <%= f.check_box :receive_emails_from_other_users %>
        <%= f.check_box :receive_notifications_for_new_participation %>
        <% if @user.actions_as_leader.count > 0 %>
            <%= f.check_box :receive_notifications_about_volunteers %>
        <% end %>


      </div>
    </div>

  </div>

  <div class="white-box">
    <div class="row">
      <div class="col">
        <%= button_tag class:'btn btn-success btn-block' do %>
          <span class="fa fa-save"></span> <%= t('general.action.save') %>
        <% end %>
      </div>
      <div class="col">
        <%= link_to user_path(@user), class:'btn btn-link btn-block' do %>
          <span class="fa fa-ban"></span> <%= t('general.action.cancel') %>
        <% end %>
      </div>
      <div class="col">
        <%= link_to edit_user_registration_path, class:'btn btn-link btn-block' do %>
          <span class="fa fa-key"></span> <%= t('user.action.changePassword') %>
        <% end %>
      </div>
      <div class="col">
        <%= link_to confirm_delete_user_path, class:'btn btn-link btn-block' do %>
          <span class="fa fa-trash"></span> <%= t('user.action.deleteAccount') %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>