<% content_for :pageTitle do %>
    <%= t('layout.title.userProfileEdit', user:@user.full_name) %>
<% end %>

<%= devise_error_messages! %>

<%= bootstrap_form_for(@user) do |f| %>

    <div id="user-edit-view">
      <section>
        <div class="typeHeader">
          <%= t('user.label.edit') %>
        </div>
        <h1><%= @user.full_name %></h1>
      </section>

      <div class="row row-sm-eq-height">
        <section class="col-sm-6">
          <h2><%= t('user.label.userData') %></h2>
          <%= f.text_field :username %>
          <%= f.text_field :first_name %>
          <%= f.text_field :last_name %>
          <%= f.text_field :email %>
          <%= f.text_field :phone %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div><%= t('user.label.waitingForEmailConfirmation',
                         email: resource.unconfirmed_email) %></div>
          <% end %>
          <br />
          <%= f.submit t('general.action.save') %>
          <%= link_to t('general.action.cancel'), user_path(@user), class:'btn btn-default' %>
        </section>
        <section class="col-sm-6">
          <!--<h2><%= t('user.label.image') %></h2>
          <p>...coming soon<br><br></p>-->

          <h2><%= t('user.label.otherActions') %></h2>
          <%= link_to t('user.action.changePassword'), edit_user_registration_path,
                      class:'btn btn-default btn-wide' %>
          <%= link_to t('user.action.deleteAccount'), confirm_delete_user_path,
                      class:'btn btn-default btn-wide' %>
        </section>
      </div>
    </div>

<% end %>