<%= render '/layouts/smallheader' -%>

<%= bootstrap_form_for @user do |f| %>
  <section>
    <div class="typeHeader">Profil bearbeiten</div>
    <h1><%= @user.full_name %></h1>
  </section>

  <div class="row">
    <div class="col-sm-12">
      <section>
        <%= f.text_field :username %>
        <%= f.text_field :first_name %>
        <%= f.text_field :last_name %>
        <%= f.submit t('general.action.save'), class:'btn btn-default' %>
        <%= link_to t('general.action.cancel'),
             user_path(@user), class:'btn btn-default' %>
      </section>
    </div>
  </div>
<% end %>