<%= render '/layouts/smallheader' -%>

<%= bootstrap_form_for @user do |f| %>
  <section>
    <div class="typeHeader">Profil bearbeiten</div>
    <h1><%= @user.full_name %></h1>
    ( <%= link_to "zurück zum Profil", user_path(@user) %> )
  </section>

  <div class="row row-sm-eq-height">
    <div class="col-sm-6">
      <section class="filling">
        <h1>Mein Profil</h1>
        <h3>Benutzername</h3>
        <%= f.text_field :username %>
        <h3>Vorname</h3>
        <%= f.text_field :first_name %>
        <h3>Nachname</h3>
        <%= f.text_field :last_name %>
      </section>
    </div>
    <div class="col-sm-6">
      <section class="info">
        <i>Gib dein aktuelles Passwort ein um die Änderungen zu bestätigen</i>
        <br />
        <%= f.password_field :current_password, placeholder: 'Aktuelles Passwort' %>
        <%= f.submit "Daten aktualisieren" %>
      </section>
    </div>
  </div>
  <section class="save_edit">
    <% if @user == current_user  %>
        ( <%= link_to 'Passwort oder E-Mail ändern', edit_user_registration_path %> )
    <% end %>
  </section>
<% end %>