<% content_for :pageTitle do %>
    <%= t('layout.title.userList') %>
<% end %>

<section>
    <h1><%= t('user.label.userList') %></h1>

    <table>
      <thead>
        <tr>
          <th><%= t('activerecord.attributes.user.username') %></th>
          <th><%= t('activerecord.attributes.user.first_name') %></th>
          <th><%= t('activerecord.attributes.user.last_name') %></th>
          <th><%= t('activerecord.attributes.user.email') %></th>
          <th><%= t('activerecord.attributes.user.phone') %></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.phone %></td>
            <td><%= link_to t('general.action.show'), user %></td>
            <td><%= link_to t('general.action.edit'), edit_user_path(user) %></td>
            <td><%#= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%#= link_to 'New User', new_user_path %>

</section>