<% provide :title, t('layout.title.userList') %>

<h1><%= t('user.heading.userList') %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:username) %></th>
      <th><%= User.human_attribute_name(:first_name) +' & '+ User.human_attribute_name(:last_name) %></th>
      <th><%= User.human_attribute_name(:email) %> & <%= User.human_attribute_name(:phone) %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username , user %></td>
        <td><%= user.first_name + ' ' + user.last_name %></td>
        <td><%= user.email %> <br /> <%= user.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New User', new_user_path %>