<%= render '/layouts/smallheader' -%>

<section>
  <h1><%= @user.full_name %></h1>
</section>

<div class="two-col-group profile">
  <div>
    <section class="info">
      <h1>Mein Profil</h1>
      <h3>Name</h3>
      <%= @user.full_name %>
      <h3>Email</h3>
      <%= @user.email %>
      <h3>Passwort</h3>
      ********
      <div>
        <%= link_to 'Edit', edit_user_registration_path %>
      </div>
    </section>
    <section class="projects">
      <h1>Meine Projekte</h1>
      <% if @user.projects_as_volunteer.count > 0 %>
        <h2>Teilnahme an</h2>
        <% @user.projects_as_volunteer.each do |project| %>
           <%= link_to project.title, project %><br />
        <% end %>
      <% end %>
      <% if @user.projects_as_leader.count > 0 %>
        <h2>Leitung von</h2>
        <% @user.projects_as_leader.each do |project| %>
          <%= link_to project.title, project %><br />
        <% end %>
      <% end %>
    </section>
  </div>
  <div>
    <section class="actions">
      <h1>Aufgaben</h1>
    </section>
  </div>
</div>





