<%= render '/layouts/smallheader' -%>

<section>
  <h1><%= @user.full_name %></h1>

  <% if @user == current_user  %>
    ( <%= link_to 'Profil bearbeiten', edit_user_registration_path %> )
  <% end %>

</section>

<div class="two-col-group profile-view">
  <div>
    <% if current_user == @user or current_user.is_admin? %>
    <section class="info">
      <div>
        <h1><%= (@user == current_user) ? 'Mein Profil' : 'Profil' %></h1>
        <h3>Username</h3>
        <%= @user.username %>
        <h3>Name</h3>
        <%= @user.full_name %>
        <h3>Email</h3>
        <%= @user.email %>
      </div>
    </section>
    <% end %>

    <% unless @user == current_user  %>
      <section class="contact-user-form">
        <h1><%= "Kontaktiere #{@user.first_name}" %></h1>
        <div class="">
          <%= form_for @message, url: { action: 'contact_user' } do |form| %>
            <div>
              <h3><%= t('contact.field_title.subject') %></h3>
              <%= form.text_field :subject %>
            </div>
            <div>
              <h3><%= t('contact.field_title.body') %></h3>
              <%= form.text_area :body %>
            </div>
            <div>
              <br />
              <%= form.submit t('contact.user.submit') %>
            </div>
          <% end %>
        </div>
      </section>
    <% end %>

    <% if @user == current_user  %>
      <section class="actions">
        <h1>Aufgaben</h1>
        <%= link_to 'Serve the City kontaktieren', contact_path %>
        <br/>
        <%= link_to 'Projekte suchen', projects_path %>
        <br/>
        <%= link_to 'Neues Projekt erstellen', new_project_path %>
        <br/>
      </section>
    <% end %>
  </div>

  <div>
    <section class="projects">
      <h1><%= (@user == current_user) ? 'Meine Projekte' : "Projekte von #{@user.first_name}" %></h1>
      <% if @user.projects_as_volunteer.any? %>
        <h2>Teilnahme an</h2>
        <% @user.projects_as_volunteer.each do |project| %>
          <%= link_to project.title, project, class: "wide button" %>
        <% end %>
      <% else %>
        Du nimmst an noch keinem Projekt teil.<br />
        <%= link_to 'Projekt finden', projects_path %>
      <% end %>
      <% if @user.projects_as_leader.any? %>
        <h2>Leitung von</h2>
        <% @user.projects_as_leader.each do |project| %>
          <%= link_to project.title, project, class: "wide button" %>
        <% end %>
      <% end %>
    </section>
  </div>
</div>





