<%= render '/layouts/smallheader' -%>

<div id="user-view">

<section style="text-align: center">
  <div class="typeHeader">
    <%= (@user == current_user) ? 'Mein Profil' : 'Profil' %>
  </div>
  <h1><%= @user.full_name %></h1>
</section>

<div class="row row-sm-eq-height">
  <div class="col-sm-6">

    <% if current_user == @user or current_user.is_admin? %>
      <section class="profile-data">
        <h2>Profildaten</h2>
        <table>
          <tr>
            <td>User:</td>
            <td><%= @user.username %></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><%= @user.email %></td>
          </tr>
        </table>
        <% if @user == current_user  %>
            <%= link_to edit_user_registration_path, title: 'Profil bearbeiten', class:'btn btn-default' do %>
                <span class="glyphicon glyphicon-pencil"></span> Profil bearbeiten
            <% end %>
        <% end %>
      </section>
    <% end %>

    <% unless @user == current_user  %>
      <section class="filling contact-user-form">
        <h2><%= "Kontaktiere #{@user.first_name}" %></h2>
        <% if alert %>
            <ul id="alert" class="popupTarget">
              <% alert.each do |msg| %>
                  <li><%= msg[0] %></li>
              <% end %>
            </ul>
        <% end %>

        <%= form_for @message, url: { action: 'contact_user' } do |form| %>
            <div>
              <h3><%= t('contact.field_title.subject') %></h3>
              <%= form.text_field :subject %>
            </div>
            <div>
              <h3><%= t('contact.field_title.body') %></h3>
              <%= form.text_area :body %>
            </div>
            <div>
              <br />
              <%= form.submit t('contact.user.submit') %>
            </div>
        <% end %>
      </section>
    <% end %>

    <% if @user == current_user  %>
      <section class="actions">
        <h2>Aufgaben</h2>
        <%= link_to 'Serve the City kontaktieren', contact_path %>
        <br/>
        <%= link_to 'Projekte suchen', projects_path %>
        <br/>
        <%= link_to 'Neues Projekt erstellen', new_project_path %>
        <br/>
      </section>
    <% end %>
  </div>

  <div class="col-sm-6">
    <section class="projects filling">

      <h2>Projekte</h2>
      <% if @user.projects_as_leader.any? %>
        <h3>Leitung (<%= @user.projects_as_leader.size %>
           <%= Project.model_name.human(count: @user.projects_as_leader.size) %>):</h3>
        <% @user.projects_as_leader.each do |project| %>
            <%= link_to project.title, project, class: "wide button" %>
        <% end %>
      <% end %>
      <% @vprojects = (@user.projects_as_volunteer - @user.projects_as_leader) %>
      <% if @vprojects.any? %>
        <h3>Teilnahme (<%= @vprojects.size %> Projekte)</h3>
        <% @vprojects.each do |project| %>
            <%= link_to project.title, project, class: "wide button" %>
        <% end %>
      <% end %>
      <% if @user.projects_as_volunteer.blank? and @user.projects_as_leader.blank? %>
        <% if current_user == @user %>
          Du nimmst an noch keinem Projekt teil.<br />
          <%= link_to 'Projekt finden', projects_path %>
        <% else %>
          <%= "#{@user.first_name} nimmt an noch keinem Projekt teil." %>
        <% end %>
      <% end %>
    </section>
  </div>
</div>

</div>



