<% provide :title, t('layout.title.userPasswordReset') %>
<% wrapper_classes.delete('container-medium').add('container-small') %>

<h1><%= t('devise.passwords.forgot_your_password') %></h1>

<p>
  Gib deine E-Mail-Adresse an, mit der du registriert bist.
  Wir schicken dir dann Anweisungen, wie du dein Passwort zurücksetzen kannst.
</p>

<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>

  <%#= devise_error_messages! %>

  <%= f.email_field :email, :autofocus => true %>

  <%= button_tag class: 'btn btn-primary' do %>
    <span class="fa fa-play"></span> <%= t('devise.passwords.send_me_reset_password_instructions') %>
  <% end %>

<% end %>

