<%# expects parameters "event", optionally "simple_titles", "show_occupancy" and "show_date" %>

<% initiative = event.initiative %>
<% simple_title = local_assigns.fetch :simple_title, false %>
<% show_occupancy = local_assigns.fetch :show_occupancy, true %>
<% show_date = local_assigns.fetch :show_date, true %>

<% date, team_size, desired_team_size, status = event.date, event.team_size, event.desired_team_size, event.status %>

<% is_action = (initiative.type == 'Action') %>

<%= link_to initiative, class: (initiative.visible? ? 'action-entry' : 'action-entry hidden-action') do %>

  <div class="image">
    <%= image_tag (initiative.show_picture? ? initiative.picture_url(:thumb) : 'placeholder.svg') %>
  </div>

  <div class="info">
    <% if show_date && !date.nil? %>
      <div class="date"><%= l date, format: :date %></div>
    <% end %>
    <% if !simple_title && is_action && initiative.subaction? %>
      <div class="parent-title"><%= initiative.parent_action.title %></div>
    <% end %>
    <div class="title"><%= initiative.title %></div>
  </div>

  <% if show_occupancy && desired_team_size.positive? %>
    <div class="badges">
      <% if [:empty, :soon_full, :full].include? status %>
          <span class="badge status_<%= status %>"
                title="<%= t('initiative.info.remaining_vacancy', places: desired_team_size - team_size) %>">
            <%= "#{team_size} / #{desired_team_size}" %>
          </span>
      <% end %>
    </div>
  <% end %>

<% end %>