<%# renders form fields for one event. Expects parameter "f" (a formbuilder) and "default_date" %>

<% event = f.object %>

<div class="white-box item event <%= event.finished? ? 'hidden' : '' %>">

  <button type="button" class="close remove-link" aria-label="Close" title="<%= t('action.button.remove_event') %>">
    <span aria-hidden="true">&times;</span>
  </button>

  <%= f.hidden_field :_destroy %>

  <div class="row">
    <div class="col-4 col-sm-12 col-md-6 col-lg-4 mb-0">
      <%= f.text_field(:date, value: event.date ? l(event.date, format: :numeric) : '',
                         data: {behaviour: 'datepicker', default: default_date }) %>
    </div>
    <div class="col-5 col-sm-12 col-md-6 col-lg-5 mb-0">
      <%= f.text_field :time %>
    </div>
    <div class="col-3 col-sm-12 col-md-6 col-lg-3 mb-0">
      <%= f.text_field :desired_team_size %>
    </div>
  </div>

</div>