<%# expects parameter "events"" %>

<% show_toggle_button = false %>

<% events.each_with_index do |event, index| %>
  <% volunteers = event.volunteers %>
  <% team_size = volunteers.count %>
  <% desired = event.desired_team_size %>
  <% event_hidden = events.upcoming.any? && (event.finished? || (index - events.finished.count > 4)) %>
  <% show_toggle_button = true if event_hidden %>

  <div class="white-box event <%= 'hidden' if event_hidden %>">

    <% if desired.positive? %>
      <span class="badge status_<%= event.status %> float-right mt-2"
            title="<%= t('initiative.info.remaining_vacancy', places: desired - team_size) %>">
        <%= "#{team_size} / #{desired}" %>
      </span>
    <% end %>

    <% if events.count > 1 %>
      <div class="row">
        <div class="col mb-0">
          <span class="h4 my-1">
            <%= l(event.date, format: :date) unless event.date.nil? %>
          </span>
        </div>
        <div class="col-auto mb-0 text-right">
          <span class="h4 my-1">
            <%= event.time %>
          </span>
        </div>
      </div>
    <% else %>
      <h3 class="mb-2"><%= t('initiative.heading.team') %></h3>
    <% end %>

    <% if desired&.positive? %>

      <% if policy(event).manage_team? %>
        <%= vue_component 'RelationshipList', name: "event-#{event.id}-volunteer-list",
                          model_type: 'events', model_id: event.id, relationship: 'volunteers',
                          item_type: 'users', enable_add: policy(User).index? %>
      <% else %>
        <div class="comma-list">
          <% volunteers.each do |volunteer| %>
            <span><%= link_to volunteer.first_name, volunteer %></span>
          <% end %>
        </div>
      <% end %>

    <% end %>


    <% if policy(event).leave? %>

      <div class="my-2">
        <%= link_to leave_event_path(event), class: 'btn btn-danger btn-block' do %>
          <span class="fas fa-sign-out-alt"></span> <%= t('initiative.button.leave') %>
        <% end %>
      </div>

    <% elsif event.available_places.positive? %>

      <div class="my-2">
        <% if user_signed_in? %>
          <%= link_to enter_event_path(event), class: 'btn btn-success btn-block' do %>
            <span class="fas fa-sign-in-alt"></span> <%= t('initiative.button.enter') %>
          <% end %>
        <% else %>
          <%= link_to register_for_participation_event_path(event), class: 'btn btn-success btn-block' do %>
            <span class="fas fa-sign-in-alt"></span> <%= t('initiative.button.enter') %>
          <% end %>
        <% end %>
      </div>

    <% end %>

  </div>
<% end %>

<% if show_toggle_button %>
  <a href="javascript:void(0)" onclick="$('.event.hidden').slideToggle(); $(this).hide();"
     class="btn btn-secondary btn-block">
    <%= t('initiative.button.show_all_events') %>
  </a>
<% end %>
