<%= form_with model: @project_day, local: true do |f| %>
  <% if @project_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('project_day.errorsExist') %></h2>

      <ul>
      <% @project_day.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div>
    <h3><%= f.label :week %></h3>
    <%= f.collection_select(:project_week_id, ProjectWeek.all, :id, :title,
                            {selected: @project_day.project_week&.id, include_blank: true} ) -%>
  </div>
  <div class="actions">
    <%= f.submit t('project_day.save') %>
  </div>
<% end %>
