<%= form_for(@project_day) do |f| %>
  <% if @project_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_day.errors.count, "error") %> prohibited this project_day from being saved:</h2>

      <ul>
      <% @project_day.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
