<%= form_for(@project_day) do |f| %>
  <% if @project_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('project_day.errorsExist') %></h2>

      <ul>
      <% @project_day.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit t('project_day.save') %>
  </div>
<% end %>
