<% content_for :pageTitle do %>
    <%= t('layout.title.projectDayList') %>
<% end %>

<section>
    <h1><%= t('project_day.captionList') %></h1>
    <%= link_to t('project_day.new'), new_project_day_path %>
</section>
<section id="projectDayList">
    <table>
      <thead>
        <tr>
          <th><%= t('general.label.name') %></th>
          <th><%= t('general.label.actions') %></th>
        </tr>
      </thead>

      <tbody>
        <% @project_days.each do |project_day| %>
          <tr>
            <td><%= link_to project_day.title, project_day %></td>
            <td>
              <%= link_to t('general.action.edit'), edit_project_day_path(project_day) %> |
              <%= link_to t('general.action.delete'), project_day, method: :delete,
                  data: { confirm: t('project_day.confirmDelete') % [project_day.title]} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</section>