<h1>Listing project_days</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project_days.each do |project_day| %>
      <tr>
        <td><%= project_day.title %></td>
        <td><%= link_to 'Show', project_day %></td>
        <td><%= link_to 'Edit', edit_project_day_path(project_day) %></td>
        <td><%= link_to 'Destroy', project_day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project day', new_project_day_path %>
