<% content_for :pageTitle do %><%= t('layout.title.projectDayView') %><% end %>
<%= render '/layouts/smallheader' -%>

<section>
    <h1><%= @project_day.title %></h1>
    <%= link_to t('general.actions.edit'), edit_project_day_path(@project_day) %> |
    <%= link_to t('project_day.list'), project_days_path %>
</section>