<%= bootstrap_form_for(@survey) do |f| %>

<% if @survey.errors.any? %>
  <section id="error_explanation">
    <h2><%= t('feedback.message.errorList') %></h2>
    <ul>
      <% @survey.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<section>
  <div class="typeHeader">
    &nbsp;<%= isNew ? t('feedback.label.newSurvey') : t('feedback.label.editSurvey') %>&nbsp;
  </div>
  <h1><%= @survey.title %></h1>
</section>

<section>
  <%= f.text_field :title %>
</section>
<div class="questions">
  <%= f.fields_for :questions do |builder| %>
      <%= render 'question_fields', f: builder %>
  <% end %>
  <div style="display: none;" id="question-insertion-point"></div>
</div>

<section>
  <%= f.submit t('feedback.action.saveSurvey') %>
  <%= link_to t('feedback.action.toSurveyOverview'), feedback_surveys_path, class: 'btn btn-default' %>
  <% if !isNew %>
    <%= link_to t('feedback.action.deleteSurvey'), feedback_survey_path(@survey), method: :delete,
            data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
  <% end %>

  <%#= link_to 'Show', @survey %>
  <%= link_to t('feedback.action.addQuestion'), 'javascript:void(0);',
        class: 'add-link btn btn-default',
        data: {target: '#question-insertion-point'} %>
</section>


<% new_object = f.object.class.reflect_on_association(:questions).klass.new %>
<div id="question-prototype" style="display: none;">
    <%= f.fields_for(:questions, new_object, :child_index => :new_question) do |builder|
      render('question_fields', :f => builder)
    end %>
</div>

<% end %>