<section class="question-fields">
  <%= f.text_area :text %>
  <%= f.select(:question_type,
               Feedback::Question.question_types.keys.map { |s| [t("feedback.question.type.#{s}"), s] }) %>
  <%= f.text_area :answer_options %>
  <%= f.number_field :position %>
  <%= f.hidden_field :_destroy %>
  <%= link_to t('feedback.action.removeQuestion'), "javascript:void(0);",
              class: 'remove-link btn btn-default' %>
</section>