<% content_for :pageTitle do %>
    <%= t('layout.title.surveyList') %>
<% end %>

<section>
  <h1><%= t('feedback.label.surveyList') %></h1>

  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @surveys.each do |feedback_survey| %>
        <tr>
          <td><%= feedback_survey.title %></td>
          <td><%= link_to 'Show', feedback_survey %></td>
          <td><%= link_to 'Edit', edit_feedback_survey_path(feedback_survey) %></td>
          <td><%= link_to 'Destroy', feedback_survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to t('feedback.action.newSurvey'), new_feedback_survey_path, class: 'btn btn-default' %>
</section>


