<% content_for :pageTitle do %>
    <%= t('layout.title.surveyView', survey: @survey.title) %>
<% end %>

<p id="notice"><%= notice %></p>

<div class="feedback survey view">

<section>
  <div class="typeHeader">
    &nbsp;<%= Feedback::Survey.model_name.human %>&nbsp;
  </div>
  <h1><%= @survey.title %></h1>
</section>

<section>
  <% idx = 0 %>
  <% @survey.questions.each do |question| %>

    <% question_label = question.text %>
    <% if !question.is_subquestion %>
        <% idx += 1 %>
        <% question_label = idx.to_s + '.) ' + question_label %>
    <% end %>

    <div class="<%= question.is_subquestion ? 'subquestion' : '' %>">
      <h3><%= question_label %></h3>
      <p><%= question.answer_options %></p>
    </div>
  <% end %>
</section>

<section>
  <%= link_to t('feedback.action.editSurvey'), edit_feedback_survey_path(@survey), class: 'btn btn-default' %>
  <%= link_to t('feedback.action.toSurveyOverview'), feedback_surveys_path, class: 'btn btn-default'%>
  <%= link_to t('feedback.action.newSurveyAnswer'), new_feedback_survey_survey_answer_path(survey_id: @survey.id), class: 'btn btn-default'%>
</section>

</div>