<% content_for :pageTitle do %>
    <%= t('layout.title.surveyView', survey: @survey.title) %>
<% end %>

<p id="notice"><%= notice %></p>

<div class="feedback survey view">

<section>
  <div class="typeHeader">
    &nbsp;<%= Feedback::Survey.model_name.human %>&nbsp;
  </div>
  <h1><%= @survey.title %></h1>
</section>


<% @survey.questions.each_with_index do |question, i| %>
  <section>
    <h3><%= i + 1 %>.)  <%= question.text %></h3>
    <p><%= question.answer_options %></p>
  </section>
<% end %>

<section>
  <%= link_to 'Edit', edit_feedback_survey_path(@survey), class: 'btn btn-default' %>
  <%= link_to 'Back', feedback_surveys_path, class: 'btn btn-default'%>
  <%= link_to 'Fill in new Answer', new_feedback_survey_answer_path(survey_id: @survey.id),
              class: 'btn btn-default'%>
</section>

</div>