<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @survey.title %>

<ol>
  <% for question in @survey.questions %>
    <li><%= question.text %></li>
  <% end %>
</ol>
</p>

<%= link_to 'Edit', edit_feedback_survey_path(@survey) %> |
<%= link_to 'Back', feedback_surveys_path %>
