<% wrapper_classes.delete('container-medium').add('no-overflow') %>

<% content_for :head do %>
  <% desc = 'Du willst Menschen in Karlsruhe begegnen, ihnen Gutes tun?
  Engagiere dich, unkompliziert und ohne lange Verpflichtungen.' %>
  <meta name="description" content="<%= desc %>" />
  <meta property="og:image" content="https://www.servethecity-karlsruhe.de/images/share.jpg" />
  <meta property="og:description" content="<%= desc %>" />
<% end %>

<% content_for :pageHeader do %>

  <header id="header-home" class="header d-print-none">
    <%= link_to root_path do %>
      <%= image_tag("logo_wide", alt: "Serve the City Karlsruhe") %>
    <% end %>

    <div id="home-countdown" data-class="Countdown" data-date="<%= Date.parse('2018-04-28').strftime('%m/%d/%Y 00:00') %>">
      <div><span></span>Tage</div>
      <div><span></span>Stunden</div>
      <div><span></span>Minuten</div>
      <div><span></span>Sekunden</div>
      <!--<span class="running">verbleiben bis zur Aktionswoche&nbsp;<%= @next_action_group.title %></span>-->
      <!--<% if Date.today <= @next_action_group.date_range.end %>-->
        <!--<span class="finished">Die <%= link_to "Aktionswoche&nbsp;#{@next_action_group.title}".html_safe, show_action_group_path(@next_action_group.title), class: 'black-link' %> läuft!</span>-->
        <!--<% else %>-->
        <!--<span class="finished week-finished">Die <%= link_to "Aktionswoche&nbsp;#{@next_action_group.title}".html_safe, show_action_group_path(@next_action_group.title), class: 'black-link' %> ist abgeschlossen. Vielen Dank für euren Einsatz!</span>-->
        <!--<% end %>-->
      <br />
      <span class="running">bis zum ersten Aktionstag&nbsp;2018</span>
      <% if Date.today <= Date.parse('2018-04-29') %>
        <span class="finished">Der erste Aktionstag&nbsp;2018 läuft!</span>
      <% else %>
        <span class="finished week-finished">Der erste Aktionstag&nbsp;2018 ist abgeschlossen. Vielen Dank für euren Einsatz!</span>
      <% end %>
    </div>

  </header>
<% end %>

<section id="home-intro-box" class="full-width top">
  <h1 class="sr-only">Aktionen</h1>
  <div class="row align-items-stretch">
    <div class="col-sm-12 col-md-5">

      <h2 class="sr-only">Karte</h2>
      <div id="home-actions-map" data-class="GoogleMap" data-lat="49.011627" data-lon="8.403869" data-zoom="12">
        <% actions = policy_scope(Action.active) %>
        <% actions = policy_scope(Action.where.not(date: nil).order(date: :desc).limit(50)) unless actions.any? %>
        <% actions.each do |action| %>
          <% if action.visible? && !action.longitude.nil? && !action.latitude.nil? %>
            <div data-lon="<%= action.longitude %>" data-lat="<%= action.latitude %>"
                 data-name="<%= action.title %>" data-href="<%= url_for(action) %>">
              <%= simple_format(simple_format_urls(action.short_description.empty? ? action.description : action.short_description)) %>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
    <div class="col-sm-6 col-md-3">

      <div id="home-group-list">
        <h2>Aktionszeiträume und Projekte</h2>
        <% groups = policy_scope(ActionGroup.where("end_date >= ?", Time.now)) %>
        <% groups = policy_scope(ActionGroup.order(start_date: :desc).limit(2)) unless groups.any? %>
        <% groups.order(:start_date).each do |group| %>
          <%= link_to 'Aktionswoche ' + group.title, show_action_group_path(group.title), class: 'title' %>
        <% end %>
        <%= link_to '/stadtpiraten', class: 'title' do %>
          <span class="fa fa-cog"></span> Stadtpiraten
        <% end %>
        <%= link_to '/spielezeit', class: 'title' do %>
          <span class="fa fa-trophy"></span> Spielezeit
        <% end %>
      </div>

    </div>
    <div class="col-sm-6 col-md-4">

      <div id="home-action-list">
        <% if user_signed_in? && (actions = policy_scope(current_user.actions.active).order(:date)).any? %>
          <h2>Deine Aktionen</h2>
        <% elsif (actions = policy_scope(Action.where("date >= ?", Time.now)).limit(5)).any? %>
          <h2>Nächste Aktionen</h2>
        <% else %>
          <h2>Letzte Aktionen</h2>
          <% actions = policy_scope(Action.where.not(date: nil).order(date: :desc).limit(4)) %>
        <% end %>
        <%= render '/actions/action_list', actions: actions %>
      </div>

    </div>
  </div>
</section>

<section class="container-medium">
  <div class="row">
    <div class="col-sm-6 col-md-4">

        <h1>Serve the City Karlsruhe</h1>
        <p>
          ... ist eine Rahmenstruktur für soziales Kurzzeit-Engagement.
          Viele Leute wollen gerne etwas Gutes tun, können sich aber nicht langfristig verpflichten.
          Serve the City schafft Gelegenheiten, mit kleinen Beiträgen den sozialen Zusammenhalt in unserer Stadt zu stärken.
        </p>
        <p>
          <%= link_to '/about' do %>
            <span class="fa fa-arrow-right"></span> Alles über Serve the City
          <% end %>
        </p>

    </div>
    <div class="col-sm-6 col-md-8">

      <div data-class="YoutubeVideo" class="youtube-video box box-16by9">
        <iframe allowfullscreen data-frame-src="
          https://www.youtube.com/embed/3d6axxum4Vs?rel=0&autoplay=true&autohide=1&iv_load_policy=3&color=white&showinfo=0">
        </iframe>
        <div class="trigger">
          <div><i class="fa fa-play-circle-o"></i></div>
        </div>
      </div>

    </div>
  </div>
</section>


<section id="home-news">
  <h1 class="sr-only">News</h1>
  <div class="swiper-container" data-class="TripleSlider">
    <div class="swiper-wrapper">
      <%= render '/news_entries/entries', limit: 7 %>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>

<% if false %>

  <section id="home-likebox">
    <h1>
      <%= link_to 'https://www.facebook.com/servethecity.karlsruhe', :target => "_blank" do %>
        <i class="fa fa-facebook-square" style="font-size: 1.3em;padding-right: 10px;"></i> Serve the City auf Facebook
      <% end %>
    </h1>
    <div>
      <span data-class="Likebox" data-fb-page="servethecity.karlsruhe"
            data-fb-token="1632977830272942|_y8PPboBvdNWpQG9jIDhHa--ArA"></span><!-- &#132;Gefällt mir&#147;-Angaben-->
    </div>
  </section>
  <section>
    <a id="home-photo-link" href="https://www.dropbox.com/sh/5yuk5ubbiqwhp1r/5AXIf0bhtd">
      "Dein Bild für Karlsruhe" &rarr; Link zur Dropbox
    </a>
  </section>
<% end %>


<section class="text-center">
  <h1 class="sr-only">Fragen?</h1>
  <p>
    Fragen? Wenn sie <%= link_to 'hier', '/about' %> nicht beantwortet sind, dann schau dich doch mal <%= link_to 'in unseren FAQs', '/faq' %> um.
    Oder <%= link_to 'schreib uns vom Orga-Team', '/kontakt' %>!
  </p>
</section>

<section id="home-images" class="full-width bottom no-padding">
  <h1 class="sr-only">Eindrücke</h1>
  <div class="swiper-container" data-class="MultiImageSlider">
    <div class="swiper-wrapper">
      <% policy_scope(GalleryPicture.visible.order(created_at: :desc).limit(100)).sample(20).each do |pic| %>
        <div class="swiper-slide" style="width: <%= ((pic.width / pic.height.to_f) * 250).round.to_s + 'px' %>">
          <% action = pic.gallery.actions.first %>
          <%= link_to action, title: action.title do %>
            <img class="swiper-lazy" data-src="<%= pic.picture.preview.url %>" />
            <div class="swiper-lazy-preloader"></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</section>