<%= render '/layouts/bigheader' -%>

<% content_for :appendToHeader do %>
  <meta name="description" content="Du willst Menschen in Karlsruhe begegnen, ihnen Gutes tun?
  Engagiere dich, unkompliziert und ohne lange Verpflichtungen." />
<% end %>

<section style="text-align: center">
  <div id="countdown" data-date="06/08/2015 01:00">
    <div><span></span>Tage</div>
    <div><span></span>Stunden</div>
    <div><span></span>Minuten</div>
    <div><span></span>Sekunden</div>
    <span class="running">verbleiben bis zur Projektwoche&nbsp;2015</span>
    <span class="finished">Die Projektwoche&nbsp;2015 läuft!</span>
  </div>
</section>

<%#
<section>
  <div id="trailer" class="box box-16by9" style="max-width: 600px">
    <iframe id="trailerFrame" class="locked-iframe" allowfullscreen
            data-frame-src="https://www.youtube.com/embed/kTy3GyOfZXA?rel=0&autoplay=true&autohide=1&iv_load_policy=3&color=white&showinfo=0">
    </iframe>
    <div class="locked-iframe-trigger" data-target-frame="#trailerFrame">
      <div>
        <i class="fa fa-play-circle-o"></i>
      </div>
    </div>
  </div>
</section>
%>

<section>
  <h2 style="margin-bottom: -45px">Vision</h2>

  <div class="row">
    <div class="col-sm-4 spotlight no-float-below-700px">
      <img src="/images/about_1.png" alt=""/>
      <div>
        Wir wollen helfen.<br/>
        Es geht nicht um Geld,<br/>
        nicht um Anerkennung.<br/>
        Es geht um den Dienst<br/>
        an den Menschen in<br/>
        unserer Stadt.
      </div>
    </div>
    <div class="col-sm-4 spotlight no-float-below-700px">
      <img src="/images/about_2.png" alt=""/>
      <div>
        Gemeinsam können wir<br/>
        etwas bewegen. Wir<br/>
        können zeigen, dass<br/>
        Engagement mehr ist<br/>
        als ein Tropfen auf dem<br/>
        heißen Stein.
      </div>
    </div>
    <div class="col-sm-4 spotlight no-float-below-700px">
      <img src="/images/about_3.png" alt=""/>
      <div>
        Serve the City<br/>
        vernetzt Menschen.<br/>
        Hier können Helfer<br/>
        Projekte in Karlsruhe<br/>
        kennen lernen und<br/>
        unterstützen.
      </div>
    </div>
  </div>
</section>

<div class="row row-sm-eq-height">
  <section class="col-sm-6">
    <h2>Planung 2015</h2>
    Zur Zeit läuft die Planung für die Aktionswoche 2015.
    Die neuen Projekte werden am 10. Mai freigeschaltet.
    Für Fragen und Vorschläge jeder Art steht das Orga-Team über das
    <a href="/kontakt">Kontaktformular</a> gerne zur Verfügung.
  </section>
  <section class="col-sm-6" id="project-link">
    <div class="center-wrap">
      <a href="/projektwoche-2014">&rarr; Projekte 2014</a>
    </div>
  </section>
</div>


<%#
  <section>
    <a id="photo-link" href="https://www.dropbox.com/sh/5yuk5ubbiqwhp1r/5AXIf0bhtd">
      "Dein Bild für Karlsruhe" &rarr; Link zur Dropbox</a>
  </section>
%>

<section>
  <h2>Projektkarte 2014</h2>
  <div class="box box-5by2" style="min-height:200px;">
    <div id="project-map" class="map"
         data-lat="49.011627" data-lon="8.403869" data-zoom="12">
      <% Project.all.each do |p| %>
          <% if (p.visible && !p.longitude.nil? && !p.latitude.nil?) %>
              <div data-lon="<%= p.longitude %>" data-lat="<%= p.latitude %>"
                   data-name="<%= p.title %>" data-href="<%= url_for(p) %>">
                <% if p.short_description.empty? %>
                    <%= simple_format p.description %>
                <% else %>
                    <%= simple_format p.short_description %>
                <% end %>
              </div>
          <% end %>
      <% end %>
    </div>
  </div>
</section>

<section>
  <h2>Serve the City</h2>
  <div class="row">
    <a class="col-sm-4 spotlight no-float-below-700px" href="/faq#was-ist-stc">
      <div class="fa fa-question" style="font-size: 70px; margin: 10px;"></div>
      <div>Was ist <span class="term">Serve the City</span>?</div>
    </a>
    <a class="col-sm-4 spotlight no-float-below-700px" href="/faq#wer-kann-mitmachen">
      <div class="fa fa-users" style="font-size: 70px; margin: 10px;"></div>
      <div>Wer kann mitmachen?</div>
    </a>
    <a class="col-sm-4 spotlight no-float-below-700px" href="/faq#spenden">
      <div class="fa fa-cubes" style="font-size: 70px; margin: 10px;"></div>
      <div>Ich würde gerne etwas spenden!</div>
    </a>
  </div>
  <div style="text-align: center; padding-top: 10px;">
    Ein Blick in die <a href="/faq">FAQ</a> lohnt sich, wenn Du mehr über Serve the City
    erfahren willst!
  </div>
</section>
