<%= render '/layouts/bigheader' -%>

<% content_for :appendToHeader do %>
  <meta name="description" content="Du willst Menschen in Karlsruhe begegnen, ihnen Gutes tun?
  Engagiere dich, unkompliziert und ohne lange Verpflichtungen." />

  <meta property="og:title" content="Serve the City Karlsruhe" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https//www.servethecity-karlsruhe.de/images/logo.png" />
  <meta property="og:url" content="https://servethecity-karlsruhe.de" />
  <meta property="og:description" content="Du willst Menschen in Karlsruhe begegnen, ihnen Gutes tun?
  Engagiere dich, unkompliziert und ohne lange Verpflichtungen." />
  <meta property="og:locale" content="de_DE" />
  <meta property="og:site_name" content="Serve the City Karlsruhe" />
<% end %>

<div class="schirmherr-ribbon-wrapper hidden-xs">
  <div class="schirmherr-ribbon schirmherr-ribbon-top-right">
    <div class="schirmherr-ribbon-text">
      <i class="fa fa-umbrella"></i>
      Unter der Schirmherrschaft von<br />Oberbürgermeister Dr. Frank Mentrup
    </div>
  </div>
</div>

<div class="schirmherr-ribbon schirmherr-ribbon-middle visible-xs-block">
  <div class="schirmherr-ribbon-text">
    <i class="fa fa-umbrella"></i>
    Unter der Schirmherrschaft von<br />Oberbürgermeister Dr. Frank Mentrup
  </div>
</div>

<section style="text-align: center">
  <div id="countdown" data-date="06/06/2016 00:00">
    <div><span></span>Tage</div>
    <div><span></span>Stunden</div>
    <div><span></span>Minuten</div>
    <div><span></span>Sekunden</div>
    <span class="running">verbleiben bis zur Projektwoche&nbsp;2016</span>
    <span class="finished">Die <%= link_to 'Projektwoche&nbsp;2016'.html_safe, show_project_week_path(ProjectWeek.default.title), class: 'black-link' %> läuft!</span>
  </div>
</section>

<section>
  <div id="trailer" class="box box-16by9" style="max-width: 600px">
    <iframe id="trailerFrame" class="locked-iframe" allowfullscreen
            data-frame-src="https://www.youtube.com/embed/T_HTIxPHtnU?rel=0&autoplay=true&autohide=1&iv_load_policy=3&color=white&showinfo=0">
    </iframe>
    <div class="locked-iframe-trigger" data-target-frame="#trailerFrame">
      <div>
        <i class="fa fa-play-circle-o"></i>
      </div>
    </div>
  </div>
</section>

<section>
  <% if policy(NewsEntry).new? %>
    <div style="float:right">
      <%= link_to t('news_entry.action.new'), new_news_entry_path %>
    </div>
  <% end %>
  <%= render partial: '/news_entries/entries', locals: {limit: 3} %>
  <div style="clear:both; padding-top:20px;">
    <%= link_to t('news_entry.action.toOverview'), news_entries_path %>
  </div>
</section>

<section>
  <h2 style="margin-bottom: -45px">Vision</h2>

  <div class="row">
    <div class="col-sm-4 spotlight no-float-below-700px">
      <img src="/images/about_2.png" alt=""/>
      <div>
        Wir wollen den Menschen<br/>
        in Karlsruhe dienen,<br/>
        zu ihnen gehen,<br/>
        Barrieren überwinden<br/>
        und praktisch helfen.
      </div>
    </div>
    <div class="col-sm-4 spotlight no-float-below-700px">
      <img src="/images/about_1.png" alt=""/>
      <div>
        Gemeinsam können wir<br/>
        etwas bewegen. Wir<br/>
        können zeigen, dass<br/>
        Engagement mehr ist<br/>
        als ein Tropfen auf den<br/>
        heißen Stein.
      </div>
    </div>
    <div class="col-sm-4 spotlight no-float-below-700px">
      <img src="/images/about_3.png" alt=""/>
      <div>
        Serve the City<br/>
        vernetzt Menschen.<br/>
        Hier können Helfer<br/>
        Projekte in Karlsruhe<br/>
        kennenlernen und<br/>
        unterstützen.
      </div>
    </div>
  </div>
</section>

<%#
<div class="row row-sm-eq-height">
  <section class="col-sm-12">
    <div class="row">
      <div class="col-sm-8">
        <h2>Planung 2015</h2>
        Zur Zeit laufen die Vorbereitungen für die Aktionswoche im Juni 2015.
        Wir sammeln Projektideen, suchen Projektleiter, gestalten Plakate und Flyer und entwicklen die Webseite weiter.<br />
        Für Fragen und Vorschläge jeder Art steht das Orga-Team gerne über das
        <a href="/kontakt">Kontaktformular</a> zur Verfügung.
      </div>
      <div class="col-sm-4">
        <img src="/images/planung_2015.jpg" class="img-responsive" alt=""/>
      </div>
    </div>
  </section>
</div>
%>

<div class="row row-sm-eq-height">
  <section class="col-sm-6" id="facebook-box">
    <h1>
      <%= link_to 'https://www.facebook.com/servethecity.karlsruhe', :target => "_blank" do %>
          <i class="fa fa-facebook-square" style="font-size: 1.3em;padding-right: 10px;"></i> Serve the City auf Facebook
      <% end %>
    </h1>
    <div>
      <span class="get-likes" data-fb-page="servethecity.karlsruhe"
            data-fb-token="1632977830272942|_y8PPboBvdNWpQG9jIDhHa--ArA"></span> &#132;Gefällt mir&#147;-Angaben
    </div>
  </section>
  <section class="col-sm-6" id="project-link">
    <div class="center-wrap" style="padding: 20px 20px 20px 30px;">
      <%= link_to show_project_week_path(ProjectWeek.default.title) do %>
          <i class="fa fa-arrow-right" style="position:relative;bottom:3px"></i> &nbsp;zu den Projekten
      <% end %>
    </div>
  </section>
</div>

<%#
  <section>
    <a id="photo-link" href="https://www.dropbox.com/sh/5yuk5ubbiqwhp1r/5AXIf0bhtd">
      "Dein Bild für Karlsruhe" &rarr; Link zur Dropbox</a>
  </section>
%>

<section>
  <h2>Projektkarte <%= ProjectWeek.default.title %></h2>
  <div class="box box-5by2" style="min-height:200px;">
    <div id="project-map" class="map"
         data-lat="49.011627" data-lon="8.403869" data-zoom="12">
      <% ProjectWeek.default.projects.each do |p| %>
          <% if (p.visible && !p.longitude.nil? && !p.latitude.nil?) %>
              <div data-lon="<%= p.longitude %>" data-lat="<%= p.latitude %>"
                   data-name="<%= p.title %>" data-href="<%= url_for(p) %>">
                <% if p.short_description.empty? %>
                    <%= simple_format p.description %>
                <% else %>
                    <%= simple_format p.short_description %>
                <% end %>
              </div>
          <% end %>
      <% end %>
    </div>
  </div>
</section>

<section>
  <h2>Serve the City</h2>
  <div class="row">
    <a class="col-sm-4 spotlight no-float-below-700px" href="/faq#was-ist-stc">
      <div class="fa fa-question" style="font-size: 70px; margin: 10px;"></div>
      <div>Was ist <span class="term">Serve the City</span>?</div>
    </a>
    <a class="col-sm-4 spotlight no-float-below-700px" href="/faq#wer-kann-mitmachen">
      <div class="fa fa-users" style="font-size: 70px; margin: 10px;"></div>
      <div>Wer kann mitmachen?</div>
    </a>
    <a class="col-sm-4 spotlight no-float-below-700px" href="/faq#spenden">
      <div class="fa fa-cubes" style="font-size: 70px; margin: 10px;"></div>
      <div>Ich würde gerne etwas spenden!</div>
    </a>
  </div>
  <div style="text-align: center; padding-top: 10px;">
    Ein Blick in die <a href="/faq">FAQ</a> lohnt sich, wenn Du mehr über Serve the City
    erfahren willst!
  </div>
</section>
