<% provide :title, t('layout.title.pagePressInfo') %>

<h1>Presseinformationen</h1>

<div class="row align-items-stretch">
  <section class="col-md-8">
    <p>
      Serve the City ist eine Initiative, die Menschen jedes Jahr eine Woche lang mit
      <%= link_to 'Aktionen', show_action_group_path(ActionGroup.default), class: 'black-link' %>
      zusammenbringt, bei denen sie sich freiwillig engagieren können. Viele Leute wollen gerne
      etwas Gutes tun, wissen aber nicht wo und können sich nicht langfristig verpflichten. Serve
      the City schafft Gelegenheiten, mit kleinen Beiträgen sinnvoll den sozialen
      Zusammenhalt in unserer Stadt zu stärken und dabei wertvolle Erfahrungen zu sammeln.
      Die Mitarbeiter engagieren sich ehrenamtlich, finanziert wird Serve the City über Spenden.
    </p>
    <p>
      Über die Dateien und Links auf dieser Seite finden Sie Informationen zu Serve the City in Karlsruhe.
      Weitere Informationen finden Sie auch auf unserer
      <%= link_to 'Facebook-Seite', 'https://de-de.facebook.com/pages/Serve-the-City-Karlsruhe/585012781526303', target: '_blank' %>.
    </p>
    <p>
      Bei Fragen stehen wir Ihnen jederzeit gerne zur Verfügung – kontaktieren Sie uns einfach!
    </p>
    <div id="presse-contact" class="row">
      <div class="col-md-6">
        <strong>Tabea Hayer</strong><br />
        PR & Kommunikation<br />
        0151 1960 1214<br />
        <%= mail_to 'tabea.hayer@servethecity-karlsruhe.de', nil, encode: :hex %>
      </div>
      <div class="col-md-6">
        <strong>Katharina Clever</strong><br />
        PR & Kommunikation<br />
        0152 2613 5834<br />
        <%= mail_to 'katharina.clever@servethecity-karlsruhe.de', nil, encode: :hex %>
      </div>
    </div>
  </section>
  <div class="col-md-4">
    <section>
      <h2>Downloads</h2>
      <ul>
<!--        <li><%##= link_to 'Erfahrungsberichte 2015 (pdf)', '/downloads/Erfahrungsberichte_2015.pdf' %></li>-->
<!--        <li><%##= link_to 'Pressemitteilung 18.06.2015 (pdf)', '/downloads/Pressemitteilung_20150618.pdf' %></li>-->
<!--        <li><%##= link_to 'Pressemitteilung 29.05.2015 (pdf)', '/downloads/Pressemitteilung_20150529.pdf' %></li>-->
        <li><%= link_to 'Allgemeine Informationen (pdf)', '/downloads/Allgemeine Informationen.pdf' %></li>
<!--        <li><%##= link_to 'Artikel der Badischen Neuesten Nachrichten vom 10.05.2014 (pdf)', '/downloads/Artikel der Badischen Neuesten Nachrichten vom 10.05.2014.pdf' %></li>-->
<!--        <li><%##= link_to 'Bilder der Aktionswoche 2014 (zip, 4 MB)', '/downloads/Bilder_2014_klein.zip' %></li>-->
<!--        <li><%##= link_to 'Bilder der Aktionswoche 2014 (zip, 69 MB)', '/downloads/Bilder_2014_normal.zip' %></li>-->
<!--        <li><%##= link_to 'Erfahrungsberichte 2014 (pdf)', '/downloads/Erfahrungsberichte_2014.pdf' %></li>-->
        <li><%= link_to 'Logos (zip)', '/downloads/Logos.zip' %></li>
      </ul>
    </section>
    <section>
      <h2>Links</h2>
      <ul>
        <li><%= link_to 'Über Serve the City', '/faq' %></li>
        <li><%= link_to 'Serve the City International', 'http://www.servethecity.net', target: '_blank' %></li>
        <li><%= link_to 'Serve the City Deutschland', 'http://www.servethecity.de', target: '_blank' %></li>
      </ul>
      <div class="honig">
        <a href="mailto:honigtopf2@servethecity-karlsruhe.de">honigtopf2@servethecity-karlsruhe.de</a>
      </div>
    </section>
  </div>
  <div class="d-none">
    <a href="mailto:honigtopf@servethecity-karlsruhe.de">honigtopf@servethecity-karlsruhe.de</a>
  </div>
</div>