<%= render '/layouts/smallheader' -%>

<section>
  <table>
    <% @pages.each do |page| %>
        <tr>
          <td><%= page.title %></td>
          <td><%= link_to t('page.action.show'), page %></td>
          <td><%= link_to t('page.action.edit'), edit_page_path(page) %></td>
          <td><%= link_to t('page.action.delete'), page, method: :delete,
                   data: { confirm: t('general.message.confirmDelete') } %></td>
        </tr>
    <% end %>
  </table>

  <br>

  <%= link_to t('page.action.new'), new_page_path %> |
  <%= link_to t('section.action.maintain'), page_sections_path %>
</section>