<%= render '/layouts/smallheader' -%>

<section>
  <h1><%= t('page.captionList') %></h1>
  <%= link_to t('page.new'), new_page_path %> &nbsp; &nbsp; | &nbsp; &nbsp;
  <%= link_to t('section.list'), page_sections_path %>
</section>
<section id="pageList">
  <div style="font-style:italic; margin:10px;">Dieser Index beinhaltet nur reguläre Seiten. Inhalte und Layout von Spezialseiten
    können i.A. nicht über das Webinterface geändert werden.</div>
  <table>
    <% @pages.each do |page| %>
        <tr>
          <td><%= link_to page.title, page %></td>
          <td>
            <%= link_to t('gen.edit'), edit_page_path(page) %> |
            <%= link_to t('gen.delete'), page, method: :delete,
                   data: { confirm: t('page.confirmDelete') % [page.title] } %>
          </td>
        </tr>
    <% end %>
  </table>

  <br>


</section>