<%= render '/layouts/' + @page.header_name -%>


<section>
  <h1><%= @page.title %></h1>
</section>

<% @page.sections.each do |section| %>
    <section <%#= ('class="' + section.cssClass + '"') if section.cssClass %> >
      <%= section.message.html_safe %>
    </section>
<% end %>

<section>
    <h2><%= t('general.label.adminPanel') %></h2>
    <%= link_to t('page.action.edit'), edit_page_path(@page) %><br>
    <%= link_to t('page.action.toOverview'), pages_path %>
</section>