<%= render '/layouts/' + @page.header_name -%>

<% @page.sections.order(index: :asc).each do |section| %>
    <section <%= ('class="' + section.css_class + '"').html_safe if section.css_class %> >
      <% unless section.stylesheet.empty? %>
          <style type="text/css">
              <%= section.stylesheet %>
          </style>
      <% end %>
      <%= section.content.html_safe %>
      <% unless section.partial_name.empty? %>
          <%= render section.partial_name %>
      <% end %>
    </section>
<% end %>

<% if user_signed_in? and current_user.is_admin? %>
    <section>
      <h2><%= t('general.label.adminPanel') %></h2>
      <%= link_to t('page.action.edit'), edit_page_path(@page) %><br>
      <%= link_to t('page.action.toOverview'), pages_path %>
    </section>
<% end %>