<%= render '/layouts/smallheader' -%>

<section>

    <h1><%= t('section.label.edit') % [page_section.title] %></h1>

    <%= render 'form' %>

    <%= link_to t('section.action.edit'), @page_section %> |
    <%= link_to t('section.action.toOverview'), page_sections_path %>

</section>