<%= render '/layouts/smallheader' -%>

<section>
  <h1><%= t('section.captionList') %></h1>
  <%= link_to t('section.new'), new_page_section_path %> &nbsp; &nbsp; | &nbsp; &nbsp;
  <%= link_to t('page.list'), pages_path %>
</section>
<section id="pageSectionList">
  <table>
    <thead>
    <tr>
      <th><%= t('general.label.name') %></th>
      <th><%= t('general.label.actions') %></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @page_sections.each do |page_section| %>
        <tr>
          <td><%= link_to page_section.title, page_section %></td>
          <td>
            <%= link_to t('general.actions.edit'), edit_page_section_path(page_section) %> |
            <%= link_to t('general.actions.delete'), page_section, method: :delete,
                 data: { confirm: t('section.confirmDelete') % [page_section.title] } %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

</section>


