<h1>Listing page_sections</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @page_sections.each do |page_section| %>
  <tr>
    <td><%= page_section.title %></td>
    <td><%= page_section.content %></td>
    <td><%= link_to 'Show', page_section %></td>
    <td><%= link_to 'Edit', edit_page_section_path(page_section) %></td>
    <td><%= link_to 'Destroy', page_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page section', new_page_section_path %>
