<%= render '/layouts/smallheader' -%>

<section>
    <h1>Seitenabschnitt "<%= @page_section.title %>"</h1>
    <%= link_to t('section.action.edit'), edit_page_section_path(@page_section) %> |
    <%= link_to t('section.action.toOverview'), page_sections_path %>
</section>
<section <%= ('class="' + @page_section.css_class + '"').html_safe if @page_section.css_class %> >
  <% unless @page_section.stylesheet.empty? %>
      <style type="text/css">
          <%= @page_section.stylesheet %>
      </style>
  <% end %>
  <%= @page_section.content.html_safe %>
  <% if @page_section.partial_name && !@page_section.partial_name.empty? %>
      <%= render @page_section.partial_name %>
  <% end %>
</section>