<%= render '/layouts/smallheader' -%>

<section>
    <p>
      <strong><%= t('section.label.title') %></strong>
      <%= @page_section.title %>
    </p>

    <p>
      <strong><%= t('section.label.content') %></strong>
      <%= @page_section.content %>
    </p>

    <%= link_to t('section.action.edit'), edit_page_section_path(@page_section) %> |
    <%= link_to t('section.action.toOverview'), page_sections_path %>

</section>