<%= form_for(@project) do |f| %>

    <% if @project.errors.any? %>
        <section id="error_explanation">
          <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
          <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </section>
    <% end %>

    <section class="project-view project-edit-view">
      <h1><%= (isNew ? "Neues Projekt erstellen" : ("Projekt bearbeiten: " + @project.title)) %></h1>

      <div class="leftCol">
        <div>
          <h3><%= Project.human_attribute_name('location') %></h3>
          <%= f.text_field :location %>
        </div>
        <div>
          <h3><%= Project.human_attribute_name('individual_tasks') %></h3>
          <%= f.text_area :individual_tasks %>
        </div>
        <div>
          <h3><%= Project.human_attribute_name('requirements') %></h3>
          <%= f.text_area :requirements %>
        </div>
        <div>
          <h3><%= Project.human_attribute_name('material') %></h3>
          <%= f.text_area :material %>
        </div>
      </div>

      <div class="rightCol">
        <div class="wide infobox level0">
          <%= Project.human_attribute_name('desired_team_size') %>:
          <%= f.text_field :desired_team_size %>
        </div>
        <% if not isNew %>
            <div>
              <h3><%= Project.human_attribute_name('leaders') %></h3>
              <%= @project.leaders.collect { |v| v.first_name }.join(', ') %>
              <div>
                <%= link_to 'Edit Project Leaders', edit_leaders_project_path(@project) %>
              </div>
            </div>

            <% if current_user.is_admin? %>
                <div class="adminPanel">
                  <h3>Admin Panel</h3>
                  <ul>
                    <li><%= link_to 'Delete Project', @project, method: :delete,
                              data: { confirm: 'Are you sure?' } %></li>
                  </ul>
                </div>
            <% end %>
        <% end %>
      </div>

      <div class="description">
        <%= image_tag @project.picture_url(:preview) if @project.picture.file %>

        <div>
          <h3><%= Project.human_attribute_name('title') %></h3>
          <%= f.text_field :title %>
        </div>
        <div>
          <h3><%= t('project.upload_picture') %></h3>
          <%= f.file_field :picture %>
        </div>
        <div>
          <h3><%= Project.human_attribute_name('description') %></h3>
          <%= f.text_area :description %>
        </div>
      </div>

      <%#= f.text_field :latitude %>
      <%#= f.text_field :longitude %>
    </section>

    <section>
      <%= f.submit %>
      <%= link_to 'Show', @project %> |
      <%= link_to 'Back', projects_path %>
    </section>

<% end %>