<div id="project-edit-view">
<%= bootstrap_form_for(@project) do |f| %>



<% if @project.errors.any? %>
    <section id="error_explanation">
      <h2><%= t('project.message.errorList') %></h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </section>
<% end %>

<section>
  <div class="typeHeader">
    &nbsp;<%= isNew ? t('project.label.new') : t('project.label.edit') %>&nbsp;
  </div>
  <h1><%= @project.title %></h1>
</section>

<div class="row row-sm-eq-height">

  <section class="col-sm-8">
      <%= f.text_field :title %>
      <div class="form-group">
        <label class="control-label" for="project_picture_source">
          <%= Project.human_attribute_name('picture') %>
        </label>
        <% if @project.picture.file %>
          <div class="project-picture picture-container">
            <%= image_tag @project.picture_url(:preview) %>
          </div>
        <% end %>
        <%= f.file_field :picture, hide_label: true %>
      </div>
      <%= f.text_field :picture_source,
            help: t('project.help.picture_source') %>
      <div class="short_description">
        <%= f.text_area :short_description,
                      help: t('project.help.short_description') %>
      </div>
      <div class="description">
        <%= f.text_area :description %>
      </div>
      <div class="individual_tasks">
        <%= f.text_area :individual_tasks %>
      </div>
      <div class="requirements">
        <%= f.text_area :requirements %>
      </div>
      <div class="material">
        <%= f.text_area :material %>
      </div>
  </section>

  <div class="col-sm-4">

    <section class="slim">
      <h3>
        <%= t('project.label.manageProject') %>
      </h3>
      <%= f.submit t('general.action.save'), class: 'btn btn-default btn-wide' %>
      <%= link_to t('general.action.cancel'), @project, class: 'btn btn-default btn-wide' %>
      <% if not isNew && current_user.is_admin? %>
          <%= link_to t('project.action.delete'), @project, method: :delete,
                      data: { confirm: t('general.message.confirmDelete')},
                      class: 'btn btn-default btn-wide' %>
      <% end %>
      <% unless isNew %>
        <% if @project.closed? %>
            <%= link_to t('project.action.open'),
                        open_project_path(@project),
                        class:'btn btn-default btn-wide' %>
        <% else %>
            <%= link_to t('project.action.close'),
                        close_project_path(@project),
                        class:'btn btn-default btn-wide' %>
        <% end %>
        <% if current_user.is_admin? %>
          <% if @project.visible %>
            <%= link_to t('project.action.makeInvisible'),
                        make_invisible_project_path(@project),
                        class:'btn btn-default btn-wide' %>
          <% else %>
            <%= link_to t('project.action.makeVisible'),
                        make_visible_project_path(@project),
                        class:'btn btn-default btn-wide' %>
          <% end %>
        <% end %>
    <% end %>
    </section>

    <section class="slim">
      <div class="week">
        <%= f.collection_select(:project_week_id, ProjectWeek.all, :id, :title,
                                {:selected => @project.project_week.id } ) -%>
        <%# TODO reload project day list on change %>
      </div>
      <div class="days">
        <%= f.collection_select(:day_ids, @project.project_week.days, :id, :title,
               {selected: @project.days.collect {|t| t.id}}, multiple: true) -%>
      </div>
      <div class="time">
        <%= f.text_field :time %>
      </div>
      <div class="location">
        <%= f.text_area :location %>
      </div>
      <div>
        <div class="map edit"
             data-lon="<%= @project.map_longitude %>"
             data-lat="<%= @project.map_latitude %>"
             data-zoom="<%= @project.map_zoom %>">
          <div data-lon="<%= @project.longitude %>"
               data-lat="<%= @project.latitude %>"
               data-name="<%= @project.title %>">
          </div>
        </div>
        <%= f.text_field :longitude, type: :hidden, hide_label: true %>
        <%= f.text_field :latitude, type: :hidden, hide_label: true %>
        <%= f.text_field :map_longitude, type: :hidden, hide_label: true %>
        <%= f.text_field :map_latitude, type: :hidden, hide_label: true %>
        <%= f.text_field :map_zoom, type: :hidden, hide_label: true %>
      </div>
    </section>

    <section class="slim">
      <%= f.text_field :desired_team_size %>
      <% if not isNew %>
          <div>
            <h3><%= Project.human_attribute_name('leaders') %></h3>
            <% @project.leaders.each do |leader| %>
                <div>
                  <%= leader.full_name %>
                  <%#= link_to '(X)', delete_leader_project_path(@project,
                     :user_id => leader.id), :method => 'delete' %>
                </div>
            <% end %>
            <%#= @project.leaders.collect { |v| v.first_name }.join(', ') %>
          </div>
          <div>
            <h3><%= Project.human_attribute_name('volunteers') %></h3>
            <% @project.volunteers.each do |volunteer| %>
                <div>
                  <%= volunteer.full_name %>
                  <%#= link_to '(=> as leader)', add_leader_project_path(@project,
                     :user_id => volunteer.id), :method => 'post' %>
                </div>
            <% end %>
            <%#= @project.volunteers.collect { |v| v.first_name }.join(', ') %>
          </div>
      <% end %>
    </section>
  </div>

</div>

<% end %>

</div>
