<%= form_for(@project) do |f| %>

    <% if @project.errors.any? %>
        <section id="error_explanation">
          <h2><%= t('project.message.errorList') %></h2>
          <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </section>
    <% end %>

    <section class="project-view project-edit-view">
      <h1><%= (isNew ? t('project.label.new') : (t('project.label.edit') % [@project.title])) %></h1>

      <div class="leftCol">
        <div>
          <h3><%= Project.human_attribute_name('location') %></h3>
          <%= f.text_field :location %>
        </div>
        <div>
          <h3><%= Project.human_attribute_name('individual_tasks') %></h3>
          <%= f.text_area :individual_tasks %>
        </div>
        <div>
          <h3><%= Project.human_attribute_name('requirements') %></h3>
          <%= f.text_area :requirements %>
        </div>
        <div>
          <h3><%= Project.human_attribute_name('material') %></h3>
          <%= f.text_area :material %>
        </div>
      </div>

      <div class="rightCol">
        <div class="wide infobox level0">
          <%= Project.human_attribute_name('status') %>
          <%= f.collection_select :status_id, ProjectStatus.all, :id, :title %>
        </div>
        <div>
          <h3> <%= Project.human_attribute_name('desired_team_size') %></h3>
          <%= f.text_field :desired_team_size %>
        </div>

        <% if not isNew %>
            <div>
              <h3><%= Project.human_attribute_name('leaders') %></h3>
              <% @project.leaders.each do |leader| %>
                  <div>
                    <%= leader.full_name %>
                    <%#= link_to '(X)', delete_leader_project_path(@project,
                         :user_id => leader.id), :method => 'delete' %>
                  </div>
              <% end %>
              <%#= @project.leaders.collect { |v| v.first_name }.join(', ') %>
            </div>
            <div>
              <h3><%= Project.human_attribute_name('volunteers') %></h3>
              <% @project.volunteers.each do |volunteer| %>
                  <div>
                    <%= volunteer.full_name %>
                    <%#= link_to '(=> as leader)', add_leader_project_path(@project,
                         :user_id => volunteer.id), :method => 'post' %>
                  </div>
              <% end %>
              <%#= @project.volunteers.collect { |v| v.first_name }.join(', ') %>
            </div>

            <% if current_user.is_admin? %>
                <div class="adminPanel">
                  <h3><%= t('general.label.adminPanel') %></h3>
                  <ul>
                    <li><%= link_to t('project.action.delete'), @project, method: :delete,
                              data: { confirm: t('general.message.confirmDelete') } %></li>
                  </ul>
                </div>
            <% end %>
        <% end %>
      </div>

      <div class="description">
        <%= image_tag @project.picture_url(:preview) if @project.picture.file %>

        <div>
          <h3><%= Project.human_attribute_name('title') %></h3>
          <%= f.text_field :title %>
        </div>
        <div>
          <h3><%= t('project.label.uploadImage') %></h3>
          <%= f.file_field :picture %>
        </div>
        <div>
          <h3><%= Project.human_attribute_name('description') %></h3>
          <%= f.text_area :description %>
        </div>
      </div>

      <%#= f.text_field :latitude %>
      <%#= f.text_field :longitude %>
    </section>

    <section>
      <%= f.submit t('project.action.save') %>
      <%= link_to t('general.action.show'), @project %> |
      <%= link_to t('project.action.toOverview'), projects_path %>
    </section>

<% end %>