<%= render '/layouts/smallheader' -%>

<section class="adminPanel">
  <div class="sectionTag">
    <%= t('project.label.manageTeam') %>
  </div>
  <h1><%= @project.title %></h1>
  <%= link_to t('project.action.toProject'), @project, class: 'btn btn-default' %>
</section>

<section>
    <p>
    <h3><%= t('project.label.leaders') %></h3>
    <% @project.leaders.each do |leader| %>
      <%= leader.full_name %>
      <%= link_to delete_leader_project_path(@project, :user_id => leader.id),
            :method => 'delete', title:t('project.action.removeLeader') do %>
          <span class="glyphicon glyphicon-remove"
                aria-label="<%=t('project.action.removeLeader')%>"></span>
      <% end %>
          <br />
    <% end %>
    </p>

    <p>
    <h3><%= t('project.label.team') %></h3>
    <% @project.volunteers.each do |volunteer| %>
      <%= volunteer.full_name %>
      <%= link_to add_leader_project_path(@project, :user_id => volunteer.id),
             :method => 'post', title:t('project.action.addLeader') do %>
        <span class="glyphicon glyphicon-star"
            aria-label="<%=t('project.action.addLeader')%>"></span>
      <% end %>
      <% if current_user.is_admin? %>
        <%= link_to delete_volunteer_project_path(@project, :user_id => volunteer.id),
              :method => 'delete', title:t('project.action.removeVolunteer') do %>
          <span class="glyphicon glyphicon-remove"
                aria-label="<%=t('project.action.removeVolunteer')%>"></span>
        <% end %>
      <% end %>
      <br />
    <% end %>
    </p>



</section>