<%= render '/layouts/smallheader' -%>

<section id="project-list-header">
  <div class="infobox">
    <div>Aktuelle Projekte</div>
    <span>23</span>
  </div>
  <div class="infobox">
    <div>Aktive 2014</div>
    <span>76</span>
  </div>
  <h1>Projektliste 2014</h1>
</section>

<section id="project-list-options">
  <%= link_to 'New Project', new_project_path %>
</section>

<div id="project-list">
  <% @projects.each do |project| %>
      <section>
        <div class="project-image">
          <%= link_to project do %>
            <%= image_tag project.picture_url(:listview) if project.picture.file %>
          <% end %>
        </div>
        <%= link_to project do %>
            <h2><%= project.title %></h2>
        <% end %>
        <div class="description clipText"><div><%= project.description %></div></div>
      </section>
  <% end %>

</div>
