<h1>Listing projects</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Location</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Individual tasks</th>
      <th>Material</th>
      <th>Requirements</th>
      <th>Visible</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= project.location %></td>
        <td><%= project.latitude %></td>
        <td><%= project.longitude %></td>
        <td><%= project.individual_tasks %></td>
        <td><%= project.material %></td>
        <td><%= project.requirements %></td>
        <td><%= project.visible %></td>
        <td><%= link_to 'Show', project %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
