<%= render '/layouts/smallheader' -%>

<section id="project-list-header">
  <div class="infobox">
    <div>Aktuelle Projekte</div>
    <span>23</span>
  </div>
  <div class="infobox">
    <div>Mitmacher 2014</div>
    <span>76</span>
  </div>
  <h2>Projektliste 2014</h2>
</section>

<section id="project-list-options">
  <%= link_to 'New Project', new_project_path %>
</section>

<div id="project-list">
  <% @projects.each do |project| %>
      <section>
        <div class="project-list-image">
          <%= link_to project do %>
            <%= image_tag project.picture_url(:listview) if project.picture %>
          <% end %>
        </div>
        <%= link_to project do %>
            <h3><%= project.title %></h3>
        <% end %>
        <div><%= project.description %></div>
      </section>
  <% end %>

</div>
