<%= render '/layouts/smallheader' -%>

<section id="project-list-header">
  <div class="infobox">
    <div><%= t('project.label.countActive') %></div>
    <span>XYZ</span>
  </div>
  <div class="infobox">
    <div><%= t('user.label.countActive') %></div>
    <span>XYZ</span>
  </div>
  <h1><%= t('project.label.list') %></h1>
</section>

<section id="project-list-options">
  <%= link_to t('project.action.new'), new_project_path %>
</section>

<div id="project-list">
  <% @projects.each do |project| %>
      <section>
        <div class="project-image">
          <%= link_to project do %>
              <%= image_tag project.picture_url(:listview) if project.picture.file %>
          <% end %>
        </div>
        <div class="project-title">
            <%= link_to project do %>
                <h2><%= project.title %></h2>
            <% end %>
        </div>
        <div class="project-description clipText">
          <% if project.short_description.empty? %>
            <div><%= simple_format project.description %></div>
          <% else %>
            <div><%= simple_format project.short_description %></div>
          <% end %>
        </div>
      </section>
  <% end %>

</div>
