<%= render '/layouts/smallheader' -%>

<section id="project-list-header">
  <div class="infobox">
    <div><%= t('project.label.countActive') %></div>
    <span><%= Project.active_projects.count %></span>
  </div>
  <div class="infobox">
    <div><%= t('user.label.countActive') %></div>
    <span><%= Project.active_users.size %></span>
  </div>
  <h1><%= t('project.label.list') %></h1>
</section>

<section class="project-list-sidebox">
  <h3>Projektliste filtern</h3>
  <%= form_tag('/projects', method: 'get', id:'projectFilter') do %>
      <%= label(:filter, :day, "Projekttag:") %>
      <%= collection_select(:filter, :day, ProjectDay.all, :id, :title) %>
      <%= label(:filter, :day, "Projektstatus:") %>
      <%= select(:filter, :status, Project.statuses.keys.map { |s| [t("project.status.#{s}"), s] }) %>
      <% if user_signed_in? and current_user.is_admin? %>
        <%= label(:filter, :day, "Sichtbarkeit:") %>
        <%= select(:filter, :visibility, [['Sichtbar', :visible], ['Versteckt', :hidden]]) %>
      <% end %>
      <%= submit_tag("Filter") %>
  <% end %>
</section>
<section class="project-list-sidebox">
  <h3>Optionen</h3>
  <%= link_to t('project.action.new'), new_project_path, class:'wide button' %>
</section>

<div id="project-list">
  <% @projects.each do |project| %>
      <section>
        <div class="project-image">
          <%= link_to project do %>
            <%= image_tag project.picture_url(:listview) if project.picture.file %>
            <div class="project-status <%= project.status %>">
              <%= t "project.status.#{project.status}" %>
            </div>
          <% end %>
        </div>
        <div class="project-title">
            <%= link_to project do %>
                <h2><%= project.title %></h2>
            <% end %>
        </div>
        <div class="project-description clipText">
          <% if project.short_description.empty? %>
            <div><%= simple_format project.description %></div>
          <% else %>
            <div><%= simple_format project.short_description %></div>
          <% end %>
        </div>
      </section>
  <% end %>

</div>
