<%= render '/layouts/smallheader' -%>

<section id="project-list-header">
  <h1 style="float: left"><%= t('project.label.list') %></h1>
  <div class="infobox">
    <div><%= t('project.label.countActive') %></div>
    <span><%= Project.active.count %></span>
  </div>
  <div class="infobox">
    <div><%= t('user.label.countActive') %></div>
    <span><%= Participation.active_user_count %></span>
  </div>
</section>

<div class="row">

  <div class="col-md-3 col-md-push-9">
    <div class="row row-sm-eq-height row-md-diff-height">

      <div class="col-sm-6 col-md-12">
        <section class="slim filling">
          <h3>Filtern</h3>
          <%= bootstrap_form_for(:filter, url:'/projects', method:'get', html:{id:'projectFilter'}) do |f| %>
              <%#= collection_select(:week, ProjectWeek.all, :id, :title,
                 :include_blank => "- - - Aktionswoche egal - - -") %>
              <%= f.collection_select(:day, ProjectDay.all, :id, :title,
                 include_blank: "- - - Alle Tage - - -", hide_label: true) %>
              <%= f.select(:status,
                 Project.statuses.keys.map { |s| [t("project.status.#{s}"), s] },
                 include_blank: "- - - Status egal - - -", hide_label: true) %>
              <% if user_signed_in? && current_user.is_admin? %>
                  <%= f.select(:visibility,
                     [['Sichtbar', :visible], ['Versteckt', :hidden]],
                     hide_label: true) %>
              <% end %>
              <%= f.submit 'Projekte filtern', class:'btn btn-default btn-wide' %>
              <div id="filterResults"></div>
          <% end %>
        </section>
      </div>

      <div class="col-sm-6 col-md-12">
        <section class="slim filling">
          <h3>Optionen</h3>
          <%= link_to t('project.action.new'),
               new_project_path, class:'btn btn-default btn-wide' %>
        </section>
      </div>

    </div>
  </div>

  <div class="col-md-9 col-md-pull-3" id="project-list">
    <% @projects.each do |project| %>
        <section class="project">
          <div class="project-title">
            <%= link_to project do %>
               <h2><%= project.title %></h2>
            <% end %>
          </div>
          <div class="project-image">
            <%= link_to project do %>
                <% if project.show_picture? %>
                    <%= image_tag project.picture_url(:listview), lazy:true if project.picture.file %>
                <% else %>
                    <%= image_tag 'placeholder.svg' %>
                <% end %>
                <div class="project-status <%= project.status %>">
                  <%= t "project.status.#{project.status}" %>
                </div>
            <% end %>
          </div>
          <div class="project-description clipText">
            <% if project.short_description.empty? %>
                <div><%= simple_format project.description %></div>
            <% else %>
                <div><%= simple_format project.short_description %></div>
            <% end %>
          </div>
        </section>
    <% end %>
  </div>

</div>
