<% content_for :pageTitle do %>
  <%= t('layout.title.projectView', project:@project.title) %>
<% end %>

<% content_for :appendToHeader do %>
  <meta name="description" content="<%= @project.short_description %>" />
  <meta property="og:title" content="<%= Project.model_name.human %>: <%= @project.title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="<%= image_url(@project.picture_url) %>" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:description" content="<%= @project.short_description %>" />
  <meta property="og:locale" content="de_DE" />
  <meta property="og:site_name" content="Serve the City Karlsruhe" />
<% end %>

<div id="project-view">

  <section>
    <div class="typeHeader">
      <%= Project.model_name.human %>
    </div>
    <h1><%= @project.title %></h1>
  </section>

  <div class="row row-md-eq-height">

    <section class="col-md-8">
      <% if @project.show_picture? && @project.picture.file %>
        <div class="project-picture picture-container">
          <%= image_tag @project.picture_url(:preview) %>
          <div class="copyright" title="© <%= @project.picture_source %>">
            © <%= @project.picture_source %>
          </div>
        </div>
      <% end %>
      <div class="description">
        <%= simple_format @project.description %>
      </div>
      <% unless @project.individual_tasks.empty? %>
        <div class="individual_tasks">
          <h3><%= Project.human_attribute_name('individual_tasks') %></h3>
          <%= simple_format @project.individual_tasks %>
        </div>
      <% end %>
      <% unless @project.requirements.empty? %>
        <div class="requirements">
          <h3><%= Project.human_attribute_name('requirements') %></h3>
          <%= simple_format @project.requirements %>
        </div>
      <% end %>
      <% unless @project.material.empty? %>
        <div class="material">
          <h3><%= Project.human_attribute_name('material') %></h3>
          <%= simple_format @project.material %>
        </div>
      <% end %>
      <% if @project.subprojects && @project.subprojects.count > 0 %>
        <div class="subprojects">
          <h3><%= Project.human_attribute_name('subproject_ids') %></h3>
          <ul>
            <% @project.subprojects.each do |subproject| %>
              <li><%= link_to subproject.title, project_path(subproject) %></li>
            <% end %>
          </ul>
        </div>
      <% elsif @project.parent_project %>
          <div class="parent-project">
            <%= t('project.label.parent_project', parent_project_link: link_to(@project.parent_project.title, project_path(@project.parent_project))).html_safe %>
          </div>
      <% end %>
    </section>

    <div class="col-md-4">
      <div class="row">

        <% if user_signed_in? && ( current_user.leads_project?(@project) || current_user.is_admin? ) %>
          <section class="col-sm-6 col-md-12 col-narrow col-only-xs-centered slim">
            <h3><%= t('project.label.manageProject') %></h3>
            <%= link_to t('project.action.edit'),
                        edit_project_path(@project), class:'btn btn-default btn-wide' %>
            <%= link_to t('project.action.manageTeam'),
                        edit_leaders_project_path(@project), class:'btn btn-default btn-wide' %>
            <% if @project.closed? %>
              <%= link_to t('project.action.open'),
                          open_project_path(@project),
                          class:'btn btn-default btn-wide' %>
            <% else %>
              <%= link_to t('project.action.close'),
                          close_project_path(@project),
                          class:'btn btn-default btn-wide' %>
            <% end %>
            <% if current_user.is_admin? %>
              <% if @project.visible %>
                <%= link_to t('project.action.makeInvisible'),
                            make_invisible_project_path(@project),
                            class:'btn btn-default btn-wide' %>
              <% else %>
                <%= link_to t('project.action.makeVisible'),
                            make_visible_project_path(@project),
                            class:'btn btn-default btn-wide' %>
              <% end %>
            <% end %>
            <%= link_to t('project.action.toOverview'),
                        show_project_week_path(@project.project_week.title), class: 'btn btn-default btn-wide' %>
          </section>
        <% end %>

        <section class="col-sm-6 col-md-12 col-narrow col-only-xs-centered slim">
          <div>
            <h3><%= Project.human_attribute_name('days') %></h3>
            <%= @project.days.collect { |day| day.title }.join('<br />').html_safe %>
          </div>
          <div>
            <%= simple_format @project.time %>
          </div>
          <div>
            <h3><%= Project.human_attribute_name('location') %></h3>
            <%= simple_format @project.location %>
          </div>
          <% unless @project.longitude == 0 %>
            <div class="map" data-zoom="<%= @project.map_zoom %>"
                 data-lon="<%= @project.map_longitude %>"
                 data-lat="<%= @project.map_latitude %>">
              <div data-name="<%= @project.title %>"
                   data-lon="<%= @project.longitude %>"
                   data-lat="<%= @project.latitude %>">
              </div>
            </div>
          <% end %>
        </section>

        <section class="col-sm-6 col-md-12 col-narrow col-only-xs-centered slim">
          <div class="wide infobox <%= @project.status %>">
            <%= t "project.status.#{@project.status}" %>
          </div>
          <div>
            <% unless @project.closed? %>
              <% if user_signed_in? && @project.has_volunteer?(current_user) %>
                <p><%= t('project.message.teamMember') %></p>
                <%= link_to t('project.action.leave'),
                            leave_project_path(@project),
                            class: 'btn btn-default btn-wide' %>
              <% elsif @project.has_free_places? %>
                <%= link_to t('project.action.enter'),
                            enter_project_path(@project),
                            class: 'btn btn-default btn-wide' %>
              <% end %>
              <% if user_signed_in? && @project.has_volunteer_in_subproject?(current_user) %>
                <p><%= t('project.message.subprojectTeamMember') %></p>
              <% end %>
            <% end %>
          </div>
        </section>
        <section class="col-sm-6 col-md-12 col-narrow col-only-xs-centered slim col-lastfix">
          <div>
            <h3><%= Project.human_attribute_name('leaders') %></h3>
            <%= list_users(@project.leaders) %>
          </div>
          <div>
            <h3><%= Project.human_attribute_name('volunteers') %>
              (<%= @project.aggregated_volunteers.size %>/<%= @project.aggregated_desired_team_size %>)</h3>
            <%= list_users(@project.aggregated_volunteers) %>
          </div>
        </section>

      </div>
    </div>
  </div>

  <% if @project.has_leader? current_user  %>
    <section class="contact-volunteers-form">
      <%= bootstrap_form_for(@message, url: {action: 'contact_volunteers'}) do |f| %>
        <h2><%= t('contact.team.title') %></h2>
        <p><%= t('contact.team.text') %></p>
        <%= f.text_field :subject %>
        <%= f.text_area :body %>
        <%= f.submit t('contact.team.submit') %>
      <% end %>
    </section>
  <% end %>

  <section>
    <%= render '/layouts/share' -%>
    <% if request.referer && URI(request.referer).path == show_project_week_path(@project.project_week.title) %>
      <%= link_to t('project.action.toOverview'),
                  'javascript:history.back()', class: 'btn btn-default' %>
    <% else %>
      <%= link_to t('project.action.toOverview'),
                  show_project_week_path(@project.project_week.title), class: 'btn btn-default' %>
    <% end %>
  </section>

</div>
