<%= render '/layouts/smallheader' -%>

<section class="project-view">
  <h1>Projekt: <%= @project.title %></h1>

  <div class="leftCol">
    <div>
      <h3>Einsatzort</h3>
      <%= @project.location %>
     </div>
    <div>
      <h3>Einzelne Arbeiten</h3>
      <%= @project.individual_tasks %>
    </div>
    <div>
      <h3>Voraussetzungen</h3>
      <%= @project.requirements %>
    </div>
    <div>
      <h3>Benötigtes Material</h3>
      <%= @project.material %>
     </div>
  </div>

  <div class="rightCol">
    <div class="infobox">
      Noch XYZ Plätze.
    </div>
    <div>
      <% if user_signed_in? and @project.has_volunteer?(current_user) %>
          <%= link_to 'Aussteigen', leave_project_path(@project), class: "button" %>
      <% else %>
          <%= link_to 'Mitmachen', enter_project_path(@project), class: "button" %>
      <% end %>
    </div>
    <div>
      <h4>Leitung</h4>
      <%= @project.leaders.collect { |v| v.first_name }.join(', ') %>
    </div>
    <div>
      <h4>Team</h4>
      <%= @project.volunteers.collect { |v| v.first_name }.join(', ') %>
    </div>
    <div class="adminPanel">
      <h4>Admin Panel</h4>
      <ul>
        <% if user_signed_in? and ( current_user.leads_project?(@project) or current_user.is_admin? ) %>
          <li><%= link_to 'Edit Project', edit_project_path(@project) %></li>
          <li><%= link_to 'Edit Project Leaders', edit_leaders_project_path(@project) %></li>
        <% end %>
        <% if user_signed_in? and current_user.is_admin? %>
          <li><%= link_to 'Delete Project', @project, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="description">
    <%= image_tag @project.picture_url(:preview) if @project.picture.file %>
    <div>
      <%= @project.description %>
    </div>
  </div>

</section>

  <%#= link_to 'Back', projects_path %>