<%= render '/layouts/smallheader' -%>

<section class="project-view">
  <h1><%= Project.model_name.human %>: <%= @project.title %></h1>

  <div class="leftCol">
    <div>
      <h3><%= Project.human_attribute_name('location') %></h3>
      <%= @project.location %>
     </div>
    <div>
      <h3><%= Project.human_attribute_name('individual_tasks') %></h3>
      <%= @project.individual_tasks %>
    </div>
    <div>
      <h3><%= Project.human_attribute_name('requirements') %></h3>
      <%= @project.requirements %>
    </div>
    <div>
      <h3><%= Project.human_attribute_name('material') %></h3>
      <%= @project.material %>
     </div>
  </div>

  <div class="rightCol">
    <div class="wide infobox level1">
      <%= @project.status.title %>
    </div>
    <div>
      <% if user_signed_in? and @project.has_volunteer?(current_user) %>
          <%= t('project.message.teamMember') %>
          <%= link_to t('project.action.leave'), leave_project_path(@project), class: "wide button" %>
      <% else %>
          <%= link_to t('project.action.enter'), enter_project_path(@project), class: "wide button" %>
      <% end %>
    </div>
    <div>
      <h3><%= Project.human_attribute_name('desired_team_size') %></h3>
      <%= @project.desired_team_size %>
    </div>
    <div>
      <h3><%= Project.human_attribute_name('leaders') %></h3>
      <%= @project.leaders.collect { |v| v.first_name }.join(', ') %>
    </div>
    <div>
      <h3><%= Project.human_attribute_name('volunteers') %></h3>
      <%= @project.volunteers.collect { |v| v.first_name }.join(', ') %>
    </div>
    <% if user_signed_in? and ( current_user.leads_project?(@project) or current_user.is_admin? ) %>
    <div class="adminPanel">
      <h3><%= t('general.label.adminPanel') %></h3>
      <ul>
        <li><%= link_to t('project.action.edit'), edit_project_path(@project) %></li>
        <li><%= link_to t('project.action.editLeaders'), edit_leaders_project_path(@project) %></li>
      </ul>
    </div>
    <% end %>
  </div>

  <div class="description">
    <%= image_tag @project.picture_url(:preview) if @project.picture.file %>
    <div>
      <%= @project.description %>
    </div>
  </div>

</section>

<%#= link_to t('project.action.toOverview'), projects_path %>