<% content_for :pageTitle do %>
    <% title = @project.title %>
    <% title += ' - ' + @project.parent_project.title if @project.parent_project %>
    <%= title %>
<% end %>

<% content_for :appendToHeader do %>
    <meta name="description" content="<%= @project.short_description %>" />
    <% if @project.show_picture? %>
        <meta property="og:image" content="<%= image_url(@project.picture_url) %>" />
    <% end %>
    <meta property="og:description" content="<%= @project.short_description %>" />
<% end %>

<div id="project-view" <%='class=project-invisible' unless @project.visible? %>>

  <section class="no-print">
    <div class="typeHeader">
      <%= @project.is_subproject? ? t('project.label.subproject') : Project.model_name.human %>
      <%= ' (' + t('project.status.hidden') + ')' unless @project.visible? %>
    </div>
    <h1><%= @project.title %></h1>
  </section>

  <div class="row row-md-eq-height">

    <div class="col-md-8">
      <div class="row">
        <section class="col-md-12">

          <h2 class="print-only"><%= @project.title %></h2>

          <% if @project.show_picture? && @project.picture.file %>
              <div class="project-picture picture-container">
                <%= image_tag @project.picture_url(:project_view) %>
                <div class="copyright" title="© <%= @project.picture_source %>">
                  © <%= @project.picture_source %>
                </div>
              </div>
          <% end %>

          <div class="description">
            <%= simple_format( simple_format_urls @project.description ) %>
          </div>

          <% unless @project.individual_tasks.blank? %>
              <div class="individual_tasks">
                <h3><%= Project.human_attribute_name(:individual_tasks) %></h3>
                <%= simple_format @project.individual_tasks %>
              </div>
          <% end %>

          <% unless @project.requirements.blank? %>
              <div class="requirements">
                <h3><%= Project.human_attribute_name(:requirements) %></h3>
                <%= simple_format @project.requirements %>
              </div>
          <% end %>

          <% unless @project.material.blank? %>
              <div class="material">
                <h3><%= Project.human_attribute_name(:material) %></h3>
                <%= simple_format @project.material %>
              </div>
          <% end %>

          <% visible_subprojects = policy_scope(@project.subprojects).sort_by { |p| p.start_time || p.days.first&.date || Time.now } %>
          <% if visible_subprojects.count > 0 %>
              <div class="subprojects" id='<%= Project.human_attribute_name('subproject_ids').downcase %>'>
                <h3><%= Project.human_attribute_name('subproject_ids') %></h3>
                <div class="row">
                  <% visible_subprojects.each do |subproject| %>
                      <div class="col-md-4 col-sm-6 subproject <%='subproject-invisible' unless subproject.visible %>" >
                        <%= link_to project_path(subproject) do %>
                            <div class="project-image">
                              <% if subproject.show_picture? %>
                                  <%= image_tag subproject.picture.thumb.url, class: 'img-responsive' %>
                              <% else %>
                                  <%= image_tag 'placeholder.svg', class: 'img-responsive' %>
                              <% end %>
                              <% ext_status = subproject.visible? ? subproject.status : :hidden %>
                              <div class="project-status status_<%= ext_status %>">
                                <%= t "project.status.#{ext_status}" %>
                              </div>
                            </div>
                            <%= subproject.title %>
                        <% end %>
                      </div>
                  <% end %>
                </div>
              </div>
          <% end %>

        </section>
      </div>

      <% if show_gallery?(@project) || policy(@project).upload_pictures? %>
          <div class="row no-print">
            <section class="col-md-12">
              <div class="gallery">
                <h3><%= t('project.label.gallery') %></h3>
                <% if show_gallery?(@project) %>
                    <%= render 'galleries/gallery', gallery: @project.gallery %>
                    <% if show_contains_invisible_pictures_notification?(@project) %>
                        <i><%= t('gallery.message.containsInvisiblePictures') %></i>
                    <% end %>
                <% end %>
              </div>
              <% if policy(@project).upload_pictures? %>
                  <div class="picture-upload">
                    <%= form_for(@project.gallery, html: { multipart: true}) do |f| %>
                        <%= f.hidden_field :title %>
                        <div class="field">
                          <%= t('project.help.uploadPictures') %>
                          <%= f.file_field :picture, multiple: true, name: 'gallery_pictures[picture][]' %>
                          <p class="waitinfo">Bitte warten, die Bilder werden hochgeladen...</p>
                        </div>

                        <div class="actions">
                          <%= f.submit t('gallery.action.uploadSelectedPictures') %>
                        </div>
                    <% end %>
                  </div>
              <% end %>
              <% if policy(@project.gallery).edit? %>
                  <%= link_to 'Galerie bearbeiten', edit_gallery_path(@project.gallery) %>
              <% end %>
            </section>
          </div>
      <% end %>
    </div>

    <div class="col-md-4">
      <div class="row">

        <% if policy(@project).edit? %>
            <section class="col-sm-6 col-md-12 col-narrow col-only-xs-centered slim no-print">
              <h3><%= t('project.label.manageProject') %></h3>
              <%= link_to t('project.action.edit'),
                          edit_project_path(@project), class:'btn btn-default btn-wide' %>
              <%= link_to t('project.action.manageTeam'),
                          edit_leaders_project_path(@project), class:'btn btn-default btn-wide' %>
              <% if @project.closed? %>
                  <%= link_to t('project.action.open'),
                              open_project_path(@project),
                              class:'btn btn-default btn-wide' %>
              <% else %>
                  <%= link_to t('project.action.close'),
                              close_project_path(@project),
                              class:'btn btn-default btn-wide' %>
              <% end %>
              <% if policy(@project).change_visibility? %>
                  <% if @project.visible %>
                      <%= link_to t('project.action.makeInvisible'),
                                  make_invisible_project_path(@project),
                                  class:'btn btn-default btn-wide' %>
                  <% else %>
                      <%= link_to t('project.action.makeVisible'),
                                  make_visible_project_path(@project),
                                  class:'btn btn-default btn-wide' %>
                  <% end %>
              <% end %>
              <% if @project.project_week %>
                  <%= link_to t('project.action.toOverview'), show_project_week_path(@project.project_week.title), class: 'btn btn-default' %>
              <% end %>
            </section>
        <% end %>

        <section class="col-sm-6 col-md-12 col-narrow col-only-xs-centered slim">
          <div>
            <h3><%= Project.human_attribute_name('days') %></h3>
            <%= @project.days.order(date: :asc).collect { |day| day.title }.join('<br />').html_safe %>
          </div>
          <div>
            <%= simple_format @project.time %>
          </div>
          <div>
            <h3><%= Project.human_attribute_name('location') %></h3>
            <%= simple_format @project.location %>
          </div>
          <% unless @project.longitude == 0 %>
              <div class="map no-print" data-class="GoogleMap" data-map-id="project"
                   data-zoom="<%= @project.map_zoom %>"
                   data-lon="<%= @project.map_longitude %>"
                   data-lat="<%= @project.map_latitude %>">
                <div data-name="<%= @project.title %>"
                     data-lon="<%= @project.longitude %>"
                     data-lat="<%= @project.latitude %>">
                </div>
              </div>
          <% end %>
        </section>

        <% if @project.parent_project %>
            <section class="col-sm-6 col-md-12 col-narrow col-only-xs-centered slim">
              <div class="parent-project <%='invisible-project' unless @project.parent_project.visible %>">
                <h3><%= t('project.label.parent_project') %></h3>
                <%= link_to project_path(@project.parent_project) do %>
                    <div class="row parent-project">
                      <div class="col-md-6 col-sm-6 col-xs-6 image" >
                        <% if @project.parent_project.show_picture? %>
                            <%= image_tag @project.parent_project.picture.thumb.url, class: 'img-responsive' %>
                        <% else %>
                            <%= image_tag 'placeholder.svg', class: 'img-responsive' %>
                        <% end %>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 title">
                        <%= @project.parent_project.title %>
                      </div>
                    </div>
                <% end %>
              </div>
            </section>
        <% end %>

        <section class="col-sm-6 col-md-12 col-narrow col-only-xs-centered slim no-print">
          <div class="wide infobox status_<%= @project.status %>">
            <%= t "project.status.#{@project.status}" %>
          </div>
          <div>
            <% if user_signed_in? && @project.has_volunteer?(current_user) %>
                <p><%= t('project.message.teamMember') %></p>
            <% end %>
            <% if policy(@project).leave? %>
                <%= link_to t('project.action.leave'),
                            leave_project_path(@project),
                            class: 'btn btn-default btn-wide' %>
            <% elsif @project.visible? && @project.has_free_places? && !@project.closed? && !@project.has_volunteer?(current_user) %>
                <%= link_to t('project.action.enter'),
                            enter_project_path(@project),
                            class: 'btn btn-default btn-wide' %>
            <% elsif @project.visible? && !@project.closed? && !@project.full? && !@project.has_volunteer_in_subproject?(current_user) %>
                <p><%= t('project.message.enterOneOfTheSubprojects',
                         subprojects_link: link_to(Project.human_attribute_name('subproject_ids'), "##{Project.human_attribute_name('subproject_ids').downcase}" )).html_safe %></p>
            <% end %>
            <% if user_signed_in? && @project.has_volunteer_in_subproject?(current_user) %>
                <p><%= t('project.message.subprojectTeamMember') %></p>
            <% end %>
          </div>
        </section>
        <section class="col-sm-6 col-md-12 col-narrow col-only-xs-centered slim col-lastfix no-print">
          <div>
            <h3><%= Project.human_attribute_name('leaders') %></h3>
            <%= list_users(@project.leaders) %>
          </div>
          <div>
            <% if @project.volunteers.empty? && @project.desired_team_size > 0 %>
                <h3><%= t('project.label.volunteers_in_empty_project', limit: @project.desired_team_size) %></h3>
                <p class="no-volunteers"><%= t('project.label.no_volunteers') %></p>
            <% else %>
                <h3><%= t('project.label.volunteers_in_project', members: @project.volunteers.size,
                          limit: @project.desired_team_size) %></h3>
                <%= list_users(@project.volunteers) %>
            <% end %>
          </div>
          <% unless @project.volunteers_in_subprojects.empty? %>
              <div>
                <h3><%= t('project.label.volunteers_in_subprojects', members: @project.volunteers_in_subprojects.size,
                          limit: @project.aggregated_desired_team_size - @project.desired_team_size) %></h3>
                <%= list_users(@project.volunteers_in_subprojects.distinct) %>
              </div>
          <% end %>
        </section>

      </div>
    </div>
  </div>


  <% if policy(@project).contact_volunteers?  %>
      <section class="contact-volunteers-form no-print">
        <%= bootstrap_form_for(@message, url: {action: 'contact_volunteers'}) do |f| %>
            <h2><%= t('contact.team.title') %></h2>
            <p><%= t('contact.team.text') %></p>
            <%= f.text_field :subject, label: t('contact.general.placeholders.subject') %>
            <%= f.text_area :body, label: t('contact.general.placeholders.body') %>
            <%= f.submit t('contact.team.submit') %>
        <% end %>
      </section>

      <% if user_signed_in? && current_user.admin?  %>
          <section class="contact-volunteers-form no-print">
            (Nur Admins:) Hier nochmal alle E-Mailadressen, damit du alternativ eine E-Mail in deinem E-Mailprogramm schreiben kannst (bitte BCC verwenden).
            <div style="background: #eee; border: 1px solid #aaa; padding: 5px; margin: 10px;">
              <%= (@project.volunteers + @project.leaders + [current_user]).uniq.map { |v| v.email}.join(', ') %>
            </div>
          </section>
      <% end %>

  <% end %>



  <section class="footer no-print">
    <%= render '/layouts/share' -%>
    <%= link_to project_ical_path(@project), class: 'pull-right', title: t('project.action.exportICal'), data: { 'turbolinks': false } do %>
        <span class="glyphicon glyphicon-calendar"></span>
    <% end %>
    <% if @project.project_week %>
        <%= link_to t('project.action.toOverview'), show_project_week_path(@project.project_week.title), class: 'btn btn-default' %>
    <% end %>
  </section>

</div>