<% content_for :headsection do %>
    <h1><%= current_refinery_user.username %></h1>
<% end %>

<% content_for :body do %>
<div class="section nopadding" id="myprofile">
  <div class="leftcol nopadding">
    <div class="prf-profile lightbox">
      <div class="prf-pic lightbox">
        <img src="media/hand.png" alt="Kein Bild"/>
      </div>
      <h3>Mein Profil</h3>
      <%= link_to 'Bearbeiten', '/profile/edit', :class => 'prf-edit' %>
      <div class="prf-block">
        <h4>Name:</h4>
        <div><%= current_refinery_user.forename %> <%= current_refinery_user.surname %></div>
      </div>
      <div class="prf-block">
        <h4>Email:</h4>
        <div><%= current_refinery_user.email %></div>
      </div>
      <div class="prf-block">
        <h4>Passwort:</h4>
        <div>*******</div>
      </div>
    </div>
    <div class="prf-projectlist lightbox">
      <% if @projects_as_leader && @projects_as_leader.size > 0 %>
          <h3>geleitete Projekte:</h3>
          <% @projects_as_leader.each do |project| %>
              <%= link_to project.title, refinery.projects_project_path(project) %>
          <% end %>
      <% end %>
      <% if @projects_as_volunteer && @projects_as_volunteer.size > 0 %>
          <h3>Projekt-Mitarbeit:</h3>
          <% @projects_as_volunteer.each do |project| %>
              <%= link_to project.title, refinery.projects_project_path(project) %>
          <% end %>
      <% end %>
    </div>
  </div>
  <div class="rightcol">
    <div class="lightbox prf-actionlist">
      <h3>Aufgaben</h3>
      <a href="#">Neues Projekt erstellen</a>
      <a href="/contact" class="popup">"Serve the City" kontaktieren</a>
      <a href="/#projects">Projekte suchen</a>
    </div>
    <div class="lightbox prf-newslist">
      <h3>Nachrichten</h3>
      <div>
        Ein internes News- & Messaging-System ist in Planung. Bis dahin bitten wir Sie,
        zur Projektorganisation auf andere Kommunikationsmittel, wie den Emailverkehr, auszuweichen.
      </div>
    </div>
  </div>
</div>
<% end %>

<%= render '/refinery/content_page' %>
