<% content_for :header, t('there_are_no_users', :scope => 'refinery.welcome') %>

<% content_for :headsection do %>
  <h1>Registrierung</h1>
<% end -%>

<% content_for :body do %>
  <div class="section" id="register">
    <h1>Registrierung</h1>
    <div class="frm-smallbox">
      <%= form_for :user, :url => refinery.refinery_user_registration_path do |f| -%>

        <%= render '/refinery/admin/error_messages', :object => @user, :include_object_name => true %>

        <div class='frm-field'>
          <%= f.label :username %>
          <%= f.text_field :username, :class => 'larger widest' %>
        </div>
        <div class='frm-field'>
          <%= f.label :forename %>
          <%= f.text_field :forename, :class => 'larger widest' %>
        </div>
        <div class='frm-field'>
          <%= f.label :surname %>
          <%= f.text_field :surname, :class => 'larger widest' %>
        </div>
        <div class='frm-field'>
          <%= f.label :email %>
          <%= f.text_field :email, :class => 'larger widest' %>
        </div>
        <div class='frm-field'>
          <%= f.label :password %>
          <%= f.password_field :password, :class => 'larger widest' %>
        </div>
        <div class='frm-field'>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, :class => 'larger widest' %>
        </div>
        <div class="frm-submit">
          <%= render '/refinery/admin/form_actions', :f => f,
                     :submit_continue => false,
                     :submit_button_text => t('sign_up', :scope => 'refinery.users.new'),
                     :hide_delete => true,
                     :hide_cancel => true %>
        </div>
      <% end -%>
    </div>
  </div>
<% end -%>