<% content_for :headsection do %>
    <h1><%= @user.username %></h1>
<% end %>

<% content_for :body do %>
<div class="section nopadding" id="profile">
  <div class="leftcol nopadding">
    <div class="prf-profile lightbox">
      <%#
      <div class="prf-pic lightbox">
        <img src="media/hand.png" alt="Kein Bild"/>
      </div>
          %>
      <h3>Profil</h3>
      <div class="prf-block">
        <h4>Name:</h4>
        <div><%= @user.forename %> <%= @user.surname %></div>
      </div>
      <div class="prf-block">
        <h4>Email:</h4>
        <div><%= mail_to @user.email, @user.email, :encode => 'hex' %></div>
      </div>
    </div>
  </div>
  <div class="rightcol nopadding">
    <div class="prf-projectlist lightbox">
      <% if @user.projects_as_leader && @user.projects_as_leader.size > 0 %>
          <h3>geleitete Projekte:</h3>
          <% @user.projects_as_leader.each do |project| %>
              <%= link_to project.title, refinery.projects_project_path(project) %>
          <% end %>
      <% end %>
      <% if @user.projects_as_volunteer && @user.projects_as_volunteer.size > 0 %>
          <h3>Projekt-Mitarbeit:</h3>
          <% @user.projects_as_volunteer.each do |project| %>
              <%= link_to project.title, refinery.projects_project_path(project) %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<%= render '/refinery/content_page' %>
