
<% action = @event.initiative %>

<p>Hallo <%= @recipient.first_name %>,</p>

<p>gerade hat sich <%= @user.full_name %> bei der von dir geleiteten Aktion
  <%= link_to action.title, action %> als Mitarbeiter eingetragen.<p>

<p>Damit sind jetzt <%= action.volunteers.count %>
  von <%= action.desired_team_size %> Plätzen bei der Aktion belegt.</p>

<p>Herzliche Grüße</p>

<p>Dein Serve the City Team</p>