
<% initiative = @event.initiative %>

<p>Hallo <%= @recipient.first_name %>,</p>

<p>gerade hat sich <%= @user.full_name %> bei der von dir geleiteten Aktion / Projekt
  <%= link_to initiative.title, initiative %> als Mitarbeiter eingetragen.<p>

<p>Damit sind jetzt <%= @event.volunteers.count %>
  von <%= @event.desired_team_size %> Plätzen an diesem Termin belegt.</p>

<p>Herzliche Grüße</p>

<p>Dein Serve the City Team</p>