<% content_for :pageTitle do %>
    <%= t('layout.title.roleList') %>
<% end %>

<section>
  <h1><%= t('role.captionList') %></h1>
  <%= link_to t('role.new'), new_role_path %>
</section>
<section id="roleList">
    <table>
      <thead>
        <tr>
          <th><%= t('general.label.name') %></th>
          <th><%= t('general.label.actions') %></th>
        </tr>
      </thead>

      <tbody>
        <% @roles.each do |role| %>
          <tr>
            <td><%= link_to role.title, role %></td>
            <td>
              <%= link_to t('general.action.edit'), edit_role_path(role) %> |
              <%= link_to t('general.action.delete'), role, method: :delete,
                  data: { confirm: t('role.confirmDelete') % [role.title]} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</section>