<% provide :title, t('layout.title.roleList') %>
<% wrapper_set 'container-medium' %>

<div class="white-box">
  <h1 class="text-center m-0"><%= Role.model_name.human count: 2 %></h1>
</div>

<div class="white-box">
  <div class="row">
    <% @roles.each do |role| %>
        <div class="role-info col-md-4">
          <h2><%= role.title %></h2>
          <%= vue_component 'RelationshipList', name: "role-#{role.id}-list",
                            model_type: 'roles', model_id: role.id, relationship: 'users',
                            item_type: 'users', enable_add: true %>
        </div>
    <% end %>
  </div>
</div>

<div class="white-box p-4">
  <h2><%= t('role.heading.index') %></h2>
  <table class="table">
    <thead>
    <tr>
      <th><%= Role.human_attribute_name :title %></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @roles.each do |role| %>
        <tr>
          <td><%= role.title %></td>
          <td>
            <%= link_to t('general.button.edit'), edit_role_path(role) %> |
            <%= link_to t('general.button.delete'), role, method: :delete,
                        data: { confirm: t('general.message.confirmDeleteLong') % [role.title]} %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to t('role.new'), new_role_path %>
</div>