<% content_for :pageTitle do %><%= t('layout.title.roleNew') %><% end %>
<%= render '/layouts/smallheader' -%>

<section>
  <h1><%= t('role.captionNew') %></h1>
  <%= link_to t('role.list'), roles_path %>
</section>
<section id="roleNew">
  <%= render 'form' %>
</section>