<% content_for :pageTitle do %>
    <%= t('layout.title.roleView') %>
<% end %>

<section>
    <p>
      <strong><%= t('role.title') %></strong>
      <%= @role.title %>
    </p>

    <%= link_to t('general.action.edit'), edit_role_path(@role) %> |
    <%= link_to t('general.action.back'), roles_path %>
</section>