<% content_for :pageTitle do %><%= t('layout.title.roleView') %><% end %>
<%= render '/layouts/smallheader' -%>

<section>
    <p>
      <strong>Title:</strong>
      <%= @role.title %>
    </p>

    <%= link_to 'Edit', edit_role_path(@role) %> |
    <%= link_to 'Back', roles_path %>
</section>