<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project_flag.name %>
</p>

<p>
  <b>Type:</b>
  <%= @project_flag.type %>
</p>


<%= link_to 'Edit', edit_project_flag_path(@project_flag) %> |
<%= link_to 'Back', project_flags_path %>
