<%= form_with model: @project_week, local: true do |f| %>
  <% if @project_week.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_week.errors.count, "error") %> prohibited this project_week from being saved:</h2>

      <ul>
      <% @project_week.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :default %><br>
    <%= f.check_box :default %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.text_field(:start_date, value: @project_week.start_date ? l(@project_week.start_date, format: :numeric) : '',
                     data: { 'behaviour': 'datepicker' }) -%>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.text_field(:end_date, value: @project_week.end_date ? l(@project_week.end_date, format: :numeric) : '',
                     data: { 'behaviour': 'datepicker' }) -%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
