<%= form_for(@project_week) do |f| %>
  <% if @project_week.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_week.errors.count, "error") %> prohibited this project_week from being saved:</h2>

      <ul>
      <% @project_week.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :default %><br>
    <%= f.check_box :default %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
