<% content_for :pageTitle do %>
  <%= t('layout.title.projectList', year: @project_week.title) %>
<% end %>

<section id="project-list-header" class="showOverflow">

  <div class="select-year">
    <h1>Projektwoche <%= @project_week.title %></h1>
    <% @weeks = (ProjectWeek.all.order(title: :desc)) %>
    <% if !@weeks.blank? %>
      <div class="dropdown h1">
        <a class="dropdown-toggle" id="yearDropdown" title="Andere Projektwochen"
           data-toggle="dropdown" aria-expanded="true">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" id="yearDropdownMenu"
            aria-labelledby="yearDropdown" data-current="<%= @weeks.find_index(@project_week) %>">
          <% @weeks.each_with_index do |project_week, index| %>
            <li role="presentation">
              <%= link_to project_week.title, show_project_week_path(project_week.title), {:'data-index' => index} %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div style="text-align: right">
    <div class="infobox">
      <span><%= @project_week.projects.active.count %></span>
      <div><%= Project.model_name.human(count: @project_week.projects.active.count) %></div>
    </div>
    <div class="infobox">
      <span><%= @project_week.active_user_count %></span>
      <div><%= t('user.label.countActive') %></div>
    </div>
  </div>

  <div class="clearfix"></div>
</section>

<div class="row">

  <div class="col-md-3 col-md-push-9">
    <div class="row row-sm-eq-height row-md-diff-height">

      <section class="col-sm-6 col-md-12 slim">
        <h3>Filtern</h3>
        <%= bootstrap_form_for(:filter, url: projects_path, method:'get', html:{id:'projectFilter'}) do |f| %>
          <%#= collection_select(:week, ProjectWeek.all, :id, :title,
                 :include_blank => "- - - Aktionswoche egal - - -") %>
          <%= f.collection_select(:day, @project_week.days, :id, :title,
                                  include_blank: "- - - Alle Tage - - -", hide_label: true) %>
          <%= f.select(:status,
                       Project.statuses.keys.map { |s| [t("project.status.#{s}"), s] },
                       include_blank: "- - - Status egal - - -", hide_label: true) %>
          <% if user_signed_in? && current_user.is_admin? %>
            <%= f.select(:visibility,
                         [['Sichtbar', :visible], ['Versteckt', :hidden]],
                         hide_label: true) %>
          <% end %>
          <%= f.hidden_field :year, value: @project_week.title %>
          <%= f.submit 'Projekte filtern', class:'btn btn-default btn-wide' %>
          <div id="filterResults"></div>
        <% end %>
      </section>

      <section class="col-sm-6 col-md-12 slim hidden-xs hidden-sm">
        <h3>Optionen</h3>
        <%= link_to t('project.action.new'),
                    new_project_path, class:'btn btn-default btn-wide' %>
      </section>

    </div>
  </div>

  <div class="col-md-9 col-md-pull-3" id="project-list">
    <% @project_week.projects.each do |project| %>
      <section class="project">
        <div class="project-title">
          <%= link_to project do %>
            <h2><%= project.title %></h2>
          <% end %>
        </div>
        <div class="project-image">
          <%= link_to project do %>
            <% if project.show_picture? && project.picture.file %>
              <%= image_tag project.picture_url(:listview), lazy:true %>
            <% else %>
              <%= image_tag 'placeholder.svg' %>
            <% end %>
            <div class="project-status <%= project.status %>">
              <%= t "project.status.#{project.status}" %>
            </div>
          <% end %>
        </div>
        <div class="project-description">
          <% if project.short_description.empty? %>
            <div><%= project.description %></div>
          <% else %>
            <div><%= project.short_description %></div>
          <% end %>
        </div>
      </section>
    <% end %>
  </div>

</div>

<section class="visible-xs visible-sm slim">
  <h3>Optionen</h3>
  <%= link_to t('project.action.new'),
              new_project_path, class:'btn btn-default btn-wide' %>
</section>