<% provide :title, t('layout.title.galleryEdit') %>
<% wrapper_classes.delete('white-box') %>

<div class="white-box">
  <h1><%= t('gallery.label.editGallery') %></h1>
</div>

<div class="row">
  <div class="col-sm-8">
    <%= render 'form' %>
  </div>
  <div class="col-sm-4">
    <div class="white-box">
      <%= link_to @gallery, class: 'btn btn-primary btn-block' do %>
        <span class="fa fa-play-circle"></span> <%= t('gallery.action.show') %>
      <% end %>
      <% @gallery.actions.each do |action| %>
        <%= link_to action, class: 'btn btn-primary btn-block' do %>
          <span class="fa fa-play-circle"></span> <%= t('gallery.action.showAction') %>
        <% end %>
      <% end %>
      <%= link_to make_all_visible_gallery_path(@gallery), class: 'btn status_hidden btn-block' do %>
        <span class="fa fa-eye"></span> <%= t('gallery.action.makeAllVisible') %>
      <% end %>
      <%= link_to make_all_invisible_gallery_path(@gallery), class: 'btn status_hidden btn-block' do %>
        <span class="fa fa-eye-slash"></span> <%= t('gallery.action.makeAllInvisible') %>
      <% end %>
      <%= link_to galleries_path, class: 'btn btn-secondary btn-block' do %>
        <span class="fa fa-list"></span> <%= t('gallery.action.index') %>
      <% end %>
    </div>
  </div>
</div>



