<div class="section nopadding" id="projects">
  <h1>Projekt-Explorer</h1>
  <div class="xpl-map jsonly"></div>
  <div class="nojs" style="height:90px"></div>

  <form action="projects" method="get">
    <div class="xpl-filter">
      <h3>Projekte filtern:</h3>
      <div>
        <h4>Typ:</h4>
        <div>
          <%# check_box_tag('ptype', Refinery::Projects::Type.all) %>
          <% Refinery::Projects::Type.all.each do |type| %>
              <%= check_box_tag('type[]', type.id, false, :id => "ptype#{type.id}") %> <%= label_tag("ptype#{type.id}", '<span></span>'.html_safe + type.title) %>
          <% end %>
        </div>
      </div>
      <div>
        <h4>Bereich:</h4>
        <div>
          <% Refinery::Projects::Sector.all.each do |sector| %>
              <%= check_box_tag('sector[]', sector.id, false, :id => "psector#{sector.id}") %> <%= label_tag("psector#{sector.id}", '<span></span>'.html_safe + sector.title) %>
          <% end %>
        </div>
      </div>
      <div>
        <h4>benötigte Helfer:</h4>
        <div>
          <% Refinery::Projects::VolunteerType.all.each do |type| %>
              <%= check_box_tag('volunteer_type[]', type.id, false, :id => "pgroup#{type.id}") %> <%= label_tag("pgroup#{type.id}", '<span></span>'.html_safe + type.title) %>
          <% end %>
        </div>
      </div>
      <div>
        <h4>Einsatzort:</h4>
        <div>
          <% Refinery::Projects::Location.all.each do |location| %>
              <%= check_box_tag('location[]', location.id, false, :id => "plocation#{location.id}") %> <%= label_tag("plocation#{location.id}", '<span></span>'.html_safe + location.title) %>
          <% end %>
        </div>
      </div>
      <div>
        <h4>Einsatztag:</h4>
        <div>
          <% Refinery::Projects::Day.all.each do |day| %>
              <%= check_box_tag('day[]', day.id, false, :id => "pday#{day.id}") %> <%= label_tag("pday#{day.id}", '<span></span>'.html_safe + day.title) %>
          <% end %>
        </div>
      </div>
      <input class="nojs" value="Filter anwenden" type="submit" />
    </div>
  </form>

  <div class="xpl-list">
    <iframe class="nojs" src="projects"></iframe>
  </div>
</div>