<div class="section">

<%=raw @page.content_for(:body) %>

<%= form_for [refinery, :inquiries, @inquiry] do |f| %>
  <%= render :partial => "/refinery/admin/error_messages",
             :locals => {
               :object => @inquiry,
               :include_object_name => true
             } %>
  <div class="frm-field">
    <%= f.required_label :name, :class => 'placeholder-fallback' %>
    <%= f.text_field :name, :class => 'text', :required => 'required', :placeholder => 'Ihr Name oder der Ihrer Initiative' %>
  </div>
  <div class="frm-field">
    <%= f.required_label :email, :class => 'placeholder-fallback' %>
    <%= f.email_field :email, :class => 'text email', :required => 'required', :placeholder => 'Ihre E-Mail-Adresse' %>
  </div>
  <div class="frm-field">
    <%= f.label :phone, :class => 'placeholder-fallback' %>
    <%= f.text_field :phone, :class => 'text phone', :placeholder => 'Telefonnummer für Rückfragen' %>
  </div>
  <div class='frm-field message_field'>
    <%= f.required_label :message, :class => 'placeholder-fallback' %>
    <%= f.text_area :message, :rows => 8, :required => 'required' %>
  </div>
  <div class="frm-submit">
    <%= f.submit t('.send') %>
    <%#= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if Refinery::Inquiries.show_contact_privacy_link %>
  </div>
<% end %>

</div>