<a href="/kontakt"><%= t('layout.links.contact') %></a> |
<a href="/impressum"><%= t('layout.links.aboutUs') %></a> |
<a href="/datenschutz"><%= t('layout.links.privacy') %></a> |
<a href="/presse"><%= t('layout.links.press') %></a> |
<a href="http://www.servethecity.net/" target="_blank"><%= t('layout.links.stcInternational') %></a>