<footer id="footer" class="d-print-none">
  <a href="/kontakt"><%= t('layout.footer.contact') %></a> |
  <a href="/impressum"><%= t('layout.footer.aboutUs') %></a> |
  <a href="/datenschutz"><%= t('layout.footer.privacy') %></a> |
  <a href="/presse"><%= t('layout.footer.press') %></a> |
  <a href="http://www.servethecity.net/" target="_blank"><%= t('layout.footer.stcInternational') %></a>
</footer>