<ul class="nav navbar-nav">
  <li>
    <%= link_to root_path do %>
        <span class="glyphicon glyphicon-home"></span>
        <%= t('layout.links.home') %>
    <% end %>
  </li>
  <li>
    <%= link_to projects_path do %>
        <span class="glyphicon glyphicon-tasks"></span>
        <%= t('layout.links.projects') %>
    <% end %>
  </li>
  <li>
    <%= link_to contact_path do %>
      <span class="glyphicon glyphicon-envelope"></span>
      <%= t('layout.links.contact') %>
    <% end %>
  </li>
</ul>

<ul class="nav navbar-nav navbar-right" style="padding-right: 15px;">

  <% if user_signed_in? %>

    <li>
      <%= link_to user_path(current_user) do %>
        <span class="glyphicon glyphicon-user"></span> <%= current_user.full_name %>
      <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path, :method => :delete do %>
        <span class="glyphicon glyphicon-log-out"></span> <%= t('user.action.logout') %>
      <% end %>
    </li>

  <% else %>

    <li class="dropdown hidden-hamburger">
      <%= link_to new_user_session_path(hideRegistration:1),
            data:{toggle:'dropdown'}, class:'dropdown-toggle' do %>
        <span class="glyphicon glyphicon-log-in"></span> <%= t('user.action.login') %>
      <% end %>
      <div class="dropdown-menu">
        <%= bootstrap_form_for(resource, as: resource_name, namespace: 'navbar_login',
             url: session_path(resource_name)) do |f| %>
          <%= f.text_field :login, autofocus: true, hide_label: true,
                placeholder: t('user.label.user') %>
          <%= f.password_field :password, hide_label: true,
                placeholder: t('activerecord.attributes.user.password') %>
          <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %>
          <% end -%>
          <%= f.submit t('user.action.login'), class:'btn btn-default btn-wide' %>
        <% end %>
      </div>
    </li>

    <li class="dropdown hidden-hamburger">
      <%= link_to register_path, data:{toggle:'dropdown'}, class:'dropdown-toggle' do %>
          <span class="glyphicon glyphicon-user"></span> <%= t('user.action.register') %>
      <% end %>
      <div class="dropdown-menu">
        <%= bootstrap_form_for(resource, as: resource_name, namespace: 'navbar_reg',
             url: registration_path(resource_name)) do |f| %>
          <%#= devise_error_messages! %>
          <%= f.text_field :email, autofocus: true, hide_label: true,
                placeholder: t('activerecord.attributes.user.email') %>
          <%= f.text_field :username, hide_label: true,
                placeholder: t('activerecord.attributes.user.username') %>
          <%= f.text_field :first_name, hide_label: true,
                placeholder: t('activerecord.attributes.user.first_name') %>
          <%= f.text_field :last_name, hide_label: true,
                placeholder: t('activerecord.attributes.user.last_name') %>
          <%= f.password_field :password, hide_label: true,
                placeholder: t('activerecord.attributes.user.password') %>
          <%= f.password_field :password_confirmation, hide_label: true,
                placeholder: t('activerecord.attributes.user.password_confirmation') %>
          <%= f.submit t('user.action.register'), class:'btn btn-default btn-wide' %>
        <% end %>
      </div>
    </li>

    <li class="visible-hamburger-block">
      <%= link_to new_user_session_path(hideRegistration:1) do %>
          <span class="glyphicon glyphicon-log-in"></span> <%= t('user.action.login') %>
      <% end %>
    </li>
    <li class="visible-hamburger-block">
      <%= link_to register_path do %>
          <span class="glyphicon glyphicon-user"></span> <%= t('user.action.register') %>
      <% end %>
    </li>
  <% end %>
</ul>