<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<%= render '/refinery/head' %>
<body>
<%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
<%= render '/refinery/mainmenu' %>
<div id="boundary">
  <div id="skyline"></div>
  <div id="pagebox">
    <a id="logo" href="/"></a>
    <div id="header">
      <%# TODO bitte löschen, eins davon jedenfalls eventuell (?) :-) %>
      <%= raw @page.content_for(:headsection) %>
      <%= yield :headsection %>
    </div>
    <div id="content">
      <%= render '/refinery/flash-messages' %>
      <%= yield :body %>
    </div>
    <br style="clear: both;">
  </div>
  <div id="footer">
    <%= render '/refinery/footer' %>
  </div>
</div>
<%= render '/refinery/javascripts' %>
</body>
</html>
