<!DOCTYPE html>
<html>
<head>
  <title>Serve The City - Karlsruhe</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'standard', :media => 'all' %>
  <%= stylesheet_link_tag    'mini', :media => 'all and (max-width: 1000px)' %>
  <%= stylesheet_link_tag    'micro', :media => 'all and (max-width: 750px)' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="outer">
  <div id="skyline"></div>
  <div id="inner">
    <div id="logo"></div>
    <div id="home">
      <h2>timetable</h2>
      <ul style="font-size: 18px">
        <li>1.&ndash;6. juli: aktionen überall</li>
        <li>fest am 6. juli: schlossplatz</li>
      </ul>
      <h2>quick reference</h2>
      <div class="linklist">
        <a href="#introduction">Was ist "serve the city"?</a>
        <a href="#applications">Wie kann ich mitmachen?</a>
        <a href="#">Welche Projekte gibt es bereits?</a>
      </div>
    </div>

    <a class="separator" name="introduction" href="#">back to top</a>

    <%= yield %>

    <br style="clear: both;">
  </div>
  <div id="impressum">
    <a href="contact">Kontakt</a>
    | <%= link_to 'Impressum', 'static/impressum'%>
    | <%= link_to 'Datenschutz', 'static/impressum#privacy'%>
    | <%= link_to 'Rechtliche Hinweise', 'static/impressum#hints'%>
  </div>
</div>
</body>
</html>