<!DOCTYPE html>
<html>
<head>
  <title><%= t('layout.title') %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" %>
</head>
<body>

<div id="menubar">
  <% if user_signed_in? %>
      <%= t('user.message.loggedInAs') + current_user.username %>
      <%= link_to t('user.action.logout'), destroy_user_session_path, :method => :delete %>
  <% else %>
      <%= link_to t('user.action.login'), new_user_session_path %>
  <% end %>
  <%= link_to t('user.action.register'), register_path %>
</div>

<%= yield :pageHeader %>

<div id="content">
  <% if notice %>
      <div id="notice"><%= notice %></div>
  <% end %>
  <%= yield %>
</div>

<footer>
  <%= render '/layouts/footer' -%>
</footer>
</body>
</html>
