<% categories = local_assigns.fetch :categories, nil %>
<% limit = local_assigns.fetch :limit, 0 %>

<% list_news(categories, limit).each do |news| %>
  <div class="news-teaser">

    <% if news.show_picture? %>
        <div class="news-thumbnail">
          <%= link_to news do %>
              <%= image_tag news.picture_url(:thumb), lazy:true %>
          <% end %>
        </div>
    <% end %>

    <div class="news-text">
      <div class="news-date">
        <%= l news.created_at.to_date, format: :date %>
      </div>
      <h2><%= link_to news.title, news %><%= ' (' + t('news_entry.label.invisible') + ')' unless news.visible? %></h2>
      <% if news.teaser && !news.teaser.empty? %> <%# TODO Ruby 2.3 use safe navigation operator %>
          <div><%= simple_format(simple_format_urls news.teaser) %></div>
      <% else %>
          <div><%= simple_format(simple_format_urls news.text) %></div>
      <% end %>
    </div>

  </div>
<% end %>