
<% content_for :end_of_body do %>
  <div id="image_crop_modal" class="modal fade" tabindex="-1" role="dialog" data-class="Modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>
<% end %>

<%= bootstrap_form_for(@news_entry) do |f| %>

    <% if @news_entry.errors.any? %>
        <section id="error_explanation">
          <h2><%= t('news_entry.message.errorList') %></h2>
          <ul>
            <% @news_entry.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </section>
    <% end %>

    <div class="record-header">
      <div class="type">
        &nbsp;<%= isNew ? t('news_entry.heading.new') : t('news_entry.heading.edit') %>&nbsp;
      </div>
      <h1><%= @news_entry.title %></h1>
    </div>

    <div class="row align-items-stretch">

      <section class="col-sm-8">
        <%= f.text_field :title %>
        <div class="form-group">
          <label class="control-label" for="news_entry_picture_source">
            <%= NewsEntry.human_attribute_name('picture') %>
          </label>
          <%= f.file_field :picture, hide_label: true %>

          <% if @news_entry.picture.file %>
              <div class="news-entry-picture picture-container">
                <%= image_tag @news_entry.picture_url(:article) %>
              </div>
              <br />
              <%= link_to t('news_entry.button.cropArticleImage'),
                          crop_picture_news_entry_path(@news_entry, crop_target: 'article'),
                          class: 'btn btn-secondary',
                          data: {toggle: 'modal', target: '#image_crop_modal'}  %>
              <%= link_to t('news_entry.button.cropFullscreenImage'),
                          crop_picture_news_entry_path(@news_entry, crop_target: 'fullscreen'),
                          class: 'btn btn-secondary',
                          data: {toggle: 'modal', target: '#image_crop_modal'}  %>
              <%= link_to t('news_entry.button.cropThumbImage'),
                          crop_picture_news_entry_path(@news_entry, crop_target: 'thumb'),
                          class: 'btn btn-secondary',
                          data: {toggle: 'modal', target: '#image_crop_modal'}  %>
          <% end %>

        </div>
        <%= f.text_field :picture_source,
                         help: t('action.help.picture_source') %>

        <div class="teaser">
          <%= f.text_area :teaser, help: t('news_entry.help.teaser') %>
        </div>
        <div class="text">
          <%= f.text_area :text %>
        </div>
      </section>

      <div class="col-sm-4">
        <section>
          <%= f.select :category, NewsEntry.categories.to_a.map { |w| [t("news_entry.category.#{w[0]}"), w[0]] } %>
          <%= f.check_box :visible %>
        </section>
        <section>
          <%= f.submit t('general.button.save'), class: 'btn btn-secondary btn-block' %>
          <%= link_to t('general.button.cancel'), @news_entry, class: 'btn btn-secondary btn-block' %>
          <% if !isNew && policy(@news_entry).destroy? %>
              <%= link_to t('news_entry.button.delete'), @news_entry, method: :delete,
                          data: { confirm: t('general.message.confirmDelete')},
                          class: 'btn btn-secondary btn-block' %>
          <% end %>
        </section>

      </div>

    </div>

<% end %>

<% if @news_entry.gallery && policy(@news_entry).upload_pictures? %>
    <section class="picture-upload">
      <%= form_with model: @news_entry.gallery, html: { multipart: true}, local: true do |gallery_form| %>
          <%= gallery_form.hidden_field :title %>
          <div class="field">
            <%= t('news_entry.help.uploadPictures') %>
            <%= gallery_form.file_field :picture, multiple: true, name: 'gallery_pictures[picture][]' %>
            <p class="waitinfo"><%= t('gallery.message.uploading') %></p>
          </div>

          <div class="actions">
            <%= gallery_form.submit t('gallery.button.uploadSelectedPictures') %>
          </div>
      <% end %>
    </section>
<% end %>